/*书目下载组件 细节样式*/
.kejian-newlist article.entry {
  border-top: 1px solid #dcdcdc;
  background: #fff;
}

.image_fade {
  opacity: 1;
}

.kejianbox .entry .entry-image label {
  color: #fff;
  background: rgba(0,0,0,.6);
}

.button-border.button-red {
  color: #C02942;
  border: 2px solid #C02942;
}

.button {
  font-size: 14px;
  background-color: #AE0F29;
  color: #FFF;
  font-weight: 600;
  border: none;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.kejian-newlist .entry .button:hover {
  color: #ffffff;
  background-color: #AE0F29;
}

.kejianbox article.entry .button {
  background: #fff;
}
