/******************************************START 新闻中心皮肤样式**************************/
.news-hot, .news-thumb{
  border: 1px solid #DCDCDC;
}
a{
  color: #AE0F29;
  background-color: transparent;
}
a:hover{
  color: #222 !important;
}
h3{
  color: #4A4A4A;
}
.news-hot span, .news-thumb span {
  color: #7F7F7F;
  font-size: 11px;
}
.heading-block:after{
  border-top: 2px solid #AE0F29;
}
h4{
  font-size: 18px !important;
  font-weight: bold ;
  color: inherit;
}
.news-thumb p{
  font-size: 14px;
  color: #404040;
}
/******************************************END 新闻中心皮肤样式**************************/

