/* 电子书推荐页面皮肤样式 */


/***************** START 左侧分类导航栏组件 *****************/

dl,dt,dd,ol,ul,li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none!important;
}

.side-catergory,
.books-catergory,
.ad-box {
  margin-top: 24px;
}

.noleftpadding {
  padding-left: 0 !important;
}

.side-catergory ul {
  background: #AE0F29;
}

#primary-menu ul ul li,
.side-catergory ul>li {
  list-style: none;
  float: none;
  margin: 0;
  display: block;
  border-top: 1px solid #F8F8F8;
}

.side-catergory ul li {
  border-top: 1px solid rgba(255, 255, 255, .2) !important;
}

#primary-menu ul ul li>a,
.side-catergory ul>li a {
  font-size: 13px;
  font-weight: normal;
  color: #666;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  letter-spacing: 0;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.side-catergory ul>li.active a {
  font-size: 14px;
}

.side-catergory ul>li:hover a,
.side-catergory ul>li.active a {
  background: #AE0F29;
  color: #fff;
  padding-left: 24px;
}

.side-catergory ul li a {
  color: #fff !important;
  font-size: 13px;
  padding-left: 12px;
}


/***************** END 左侧分类导航栏组件 *****************/


/***************** START 右侧电子书图书列表 *****************/

.books-catergory .product {
  border: 1px solid #DCDCDC;
}

.product.iproduct {
  border: 1px solid #DCDCDC;
}

a {
  background-color: transparent;
  color: #AE0F29;
}

.product-overlay a {
  font-size: 13px;
  color: #fff;
  background-color: #AE0F29;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.product-title h5 {
  font-weight: bold;
  font-size: 14px;
}
.product-author {
  font-size: 12px;
  color: #7F7F7F;
}

.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.product-price label {
  font-weight: 400;
  font-size: 90%;
  color: #7F7F7F;
}

label {
  font-weight: bold;
}

.product-overlay a {
  font-size: 13px;
  color: #fff;
  background-color: #AE0F29;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.product-overlay a i {
  font-size: 14px;
}

.product-overlay a:hover {
  background-color: #333;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.product-title h5 a {
  color: #AE0F29;
}

.product-image a img {
  color: #AE0F29;
}


/***************** END 右侧电子书图书列表 *****************/


/***************** START 图书热卖榜 *****************/

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 8px 0;
}

.book-board {
  border: 1px solid #dcdcdc;
  padding: 10px;
}

.book-board .oc-item {
  border-top: 1px dotted #dcdcdc;
  margin-top: 12px;
  padding-top: 12px;
}

.book-board .product-image {
  width: 100px;
  display: inline-block;
  float: left;
}

img {
  max-width: 100%;
}

.product-author {
  font-size: 12px;
  color: #7F7F7F;
}

.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.product-price label {
  font-weight: 400;
  font-size: 90%;
  color: #7F7F7F;
}


/***************** END 图书热卖榜 *****************/
