@charset "utf-8";
/* CSS Document */
/*以下都是新增内容*/
/*新增排行榜*/
i.phb_ico_01{
    height: 0.32rem;
    width: 0.32rem;
    background-position: -0.78rem -2.48rem;
    margin-bottom: 2px;
}
i.phb_ico_02{
    height: 0.32rem;
    width: 0.32rem;
    background-position: -0.79rem -2.88rem;
    margin-bottom: 2px;
}
i.phb_ico_03{
	height: 0.32rem;
    width: 0.32rem;
    background-position: -0.79rem -3.25rem;
    margin-bottom: 2px;
}
.booklist_list_con_tit .phb_num_01{
	width: 0.25rem;
	height: 0.28rem;
	background-position: -1.75rem -4.7rem;
}
.booklist_list_con_tit .phb_num_02{
	width: 0.25rem;
	height: 0.28rem;
	background-position: -2.08rem -4.71rem;
}
.booklist_list_con_tit .phb_num_03{
	width: 0.25rem;
	height: 0.28rem;
	background-position: -2.47rem -4.71rem;
}
.prize-more {
	text-align: center;
	border-bottom: 1px solid #dddfe6;
}
i.prize-more_ico {
	background-position: -4.15rem -4.75rem;
	width: 0.14rem;
	height: 0.24rem;
}
.phb_new_list_2_con_xq {
	-webkit-box-flex: 1;	-webkit-flex: 1;	-moz-box-flex: 1;	-ms-flex: 1;	flex: 1;
	margin-left: 0.4rem;
	display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;
	-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;
	-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;
}
.phb_new_list_2_con_xq p.zhaiyao{
	display: -webkit-box;
 	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	word-break: break-all;
	overflow: hidden;
	white-space:normal;
    line-height: 0.36rem;
}