/*20171201增加编辑列表*/
.bjlb_list{
 overflow: hidden;
}
.bjlb_list_con {
	border:1px solid #dcdcdc;
	width:248px;
	height:334px;
	text-align:center;
	padding:20px 0px;
}
.bjlb_list_con_pic{
	width:147px;
	height: 222px;
	padding-left:50px;
}
.bjlb_list .bjlb_list_con_pic img {
	width: 100%;
	height: 100%;
}
/*导航*/
.daohang {height:52px; line-height:52px; border-bottom:2px solid #c50000; padding-left:15px;}
/*作者详情*/
.main_zzxq {
    background: none repeat scroll 0 0 #fff;
    margin: 0 auto 48px;
    overflow: hidden;
    width: 1200px;
}