@charset "utf-8";
/* CSS Document */
/*导航*/
.daohang {height:35px; line-height:35px; margin-top:25px;}

/*搜索结果*/
.main { width:1200px; margin:0 auto; background:#fff; overflow:hidden;}
.search_jg{ border-top:2px solid #da0b2d; overflow:hidden;}
.search_jg .search_num{ padding-right:30px; padding-top:20px; text-align:right;}
.search_jg .search_num span{ color:#c50000}
.search_jg .search_jg_tab { line-height:22px; height:22px;}
.search_jg .search_jg_tab span { padding:3px 8px;background: #ececec; cursor:pointer; }
.search_jg .search_jg_tab span.search_jg_tab_on { background:#da0b2d; color:#fff;}
.search_jg .search_jg_list {overflow:hidden;}
.search_jg .search_jg_list .search_jg_list_con {overflow:hidden; width:580px;border-bottom:1px solid #e5e5e5; padding:20px 0px 15px 20px;}
.search_jg .search_jg_list dl {}
.search_jg .search_jg_list dl img {}
.search_jg .search_jg_list dl dd { width:360px; float:left; padding-left:25px;}

.search_jg .search_jg_list dl dd p.title a{color:#c50000; line-height:34px;}
.search_jg .search_jg_list dl dd p.xing { margin:2px 0 5px 0;}
.search_jg .search_jg_list dl dd p.author { color:#0871b0;line-height:24px;}
.search_jg .search_jg_list dl dd p.banquan,.search_jg .search_jg_list dl dd p.chuban { color:#8d8c8c;line-height:24px;}
.search_jg .search_jg_list dl dd p.price{ color:#c50000; font-weight:bold;line-height:36px;}
.search_jg .search_jg_list dl dd p.price span { color:#9c9595;text-decoration:line-through; font-size:12px;}

/*!*.search_jg .search_jg_list dl dd p.xing span{ color:#515151; padding-left:10px;}*! 样式冲突*/
.search_jg .search_jg_list dl dd p.zhaiyao{ line-height:20px; color:#947aa0;}
.search_jg .search_jg_list dl dd p.disanfang { background:url(../img/bg_008.png) no-repeat; background-position:-9px 2px; height:32px;}
.search_jg .search_jg_list dl dd p.disanfang a{ color:#515151; line-height:32px; padding-left:25px;}
.search_jg .search_jg_list dl dd p.other { line-height:28px; }
.search_jg .search_jg_list dl dd p.other .shoucang,.search_jg .search_jg_list dl dd p.other .shoucang_cg,.search_jg .search_jg_list dl dd p.other .share {background-image: url(../img/bg_005.png);display: inline-block;height:28px;width: 38px;text-indent:-9999px}
.search_jg .search_jg_list dl dd p.other .shoucang {border:1px solid #d2d2d2;background-position: -1px 3px;cursor:pointer;}
.search_jg .search_jg_list dl dd p.other .shoucang_cg {border:1px solid #d2d2d2;background-position:-109px 3px;cursor:pointer;}
.search_jg .search_jg_list dl dd p.other .share { border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;background-position: 1px 90px;}
.search_jg .search_jg_list dl dd p.other .share:hover{ background-position:-35px -20px;}
.search_jg .search_jg_list dl dd p.other .goumai{background:#c50000;display: inline-block; width:52px; height:30px; text-align:center; line-height:30px;}
.search_jg .search_jg_list dl dd p.other .chakan{background:#515151;display: inline-block;width:52px; height:30px; text-align:center; line-height:30px;}

/*高级检索*/

.search_jg .search_jg_bg {background:#f6f6f6; height:93px;}
.search_jg table{width:1060px; margin:0 auto; padding-top:8px;}
.search_jg table span { padding:0 8px;}
.search_jg input.book_name,.search_jg input.author,.search_jg input.isbn{width:190px; padding:5px 0 5px 10px; background:#fff; border:1px solid #e5e5e5;}
.search_jg input.author{width:107px;}
.search_jg input.publish_time{width:145px; padding:5px 0 5px 20px; background:#fff; border:1px solid #e5e5e5;}
.search_jg input.price{ width:80px;padding:5px 0 5px 10px; background:#fff; border:1px solid #e5e5e5;}
.search_jg input.search_jg_btn{height:36px; line-height:36px; width:124px; border:0px; background:#c50000; color:#fff; cursor:pointer;}
.search_jg span.search_jg_01 { position:relative;}
.search_jg .search_jg_jb{background:url(../img/bg_008.png) no-repeat 0 -288px; width:10px; height:10px; bottom:-5px; right:9px; display:inline-block; position:absolute;}
