@charset "utf-8";
/* CSS Document */

.main{ width:1200px; margin:0 auto; background-color:#fff;}
.container { padding:30px 55px; overflow:hidden;}
.main_left { width:186px;overflow:hidden;}
.main_right { width:880px; overflow:hidden; margin:0 auto;}
.daohang {height:52px; line-height:52px; border-bottom:2px solid #c50000; padding-left:15px;}
.wdzh_hy .wdzh_yqhy i,.wdzh_hy .wdzh_hy_tx,.wzdh_xgxx i,.wzdh_xgyx .wzdh_xgyx_ico,.wzdh_xgyx .wzdh_xgyx_bdyx i,.wzdh_xgyx .wzdh_xgyx_yzm i,.wzdh_yzsf_sj i,.wdsj_name i.wdsj_name_wz,.wdsj_name i.wdsj_name_tp,.wzdh_yzsjh .wzdh_yzsjh_ico,.wzdh_yzsjh .wzdh_yzsjh_jsj i,.wzdh_yzsjh .wzdh_yzsjh_yzm i,.wzdh_bmwtyz .wzdh_bmwtyz_ico,.wzdh_bmwtyz .wzdh_bmwtyz_wt i,.wzdh_bmwtyz .wzdh_bmwtyz_da i,.wzdh_xgmm .wzdh_xgmm_ico,.wzdh_xgmm .wzdh_xgmm_xmm i,.wzdh_xgmm .wzdh_xgmm_cf i,.wzdh_jf .wzdh_jf_duih_01 i.jf_duih_03,.wzdh_yhq_con_list_tab_con table tr td div.yhq_con_01,.wzdh_jsb .wzdh_jsb_con i,.jlxq_con span i,.jlxq_con .jlxq_nr i,.wzdh_wddd_sel .wzdh_wddd_sel_02 i,.wzdh_ddxq_ddxx .wzdh_ddxq_ddxx_con i,.wzdh_jrgwcts .wzdh_jrgwcts_cg_01 i,.wzdh_gwctjcg .wzdh_gwctjcg_cg_dingdan i,.wzdh_gwctjcg .wzdh_gwctjcg_cg_zffs i,.wzdh_gwctjcg_cg_zffs_list table.bank_xq i  {background:url(../img/bg_10.png) no-repeat; display:inline-block; vertical-align:middle;}

/*我的书架~导航分类*/
.shop_center { border:1px solid #d7d7d7; width:183px;}
.shop_center .shop_center_name p{ text-align:center; height:30px; line-height:30px;}
.shop_center .shop_center_class { padding:30px 0 20px 0;}
.shop_center .shop_center_class p { line-height:45px; padding-left:50px;}
.shop_center .shop_center_class p:hover {background:url(../img/bg_007.png) no-repeat;}
.shop_center .shop_center_class p.bg_on {background:url(../img/bg_007.png) no-repeat;}
.shop_center .shop_center_class p a{ color:#656260;}
.shop_center .shop_center_class p a.on { color:#ca0000;}
.shop_center .shop_center_name span,.shop_center .shop_center_class .wdzh_title a span,.shop_center .shop_center_class .wddd_title a span,.shop_center .shop_center_class .wdsj_title a span,.shop_center .shop_center_class .scj_title a span,.shop_center .shop_center_class .jsb_title a span{ background:url(../img/bg_006.png) no-repeat;}
.shop_center .shop_center_name{ height:50px; line-height:50px; text-align:center; color:#f8dee2;background:#ca0000;}
.shop_center .shop_center_name span{ background-position:-5px 1px; padding-left:20px;}
.shop_center .shop_center_class .wdzh_title a span.self{background-position:-26px -26px;display:inline-block; width:20px; height:17px;}
.shop_center .shop_center_class .wddd_title a span.self{background-position:-27px -50px;display:inline-block; width:20px; height:17px;}
.shop_center .shop_center_class .wdsj_title a span.self{background-position:-32px -75px;display:inline-block; width:22px; height:17px;}
.shop_center .shop_center_class .scj_title a span.self{background-position:-28px -94px;display:inline-block; width:22px; height:22px; }
.shop_center .shop_center_class .jsb_title a span.self{background-position:-27px -122px;display:inline-block; width:22px; height:17px;}

.shop_center .shop_center_class .wdzh_title a span.self_on{background-position:-7px -26px;}
.shop_center .shop_center_class .wddd_title a span.self_on{background-position:-7px -50px;}
.shop_center .shop_center_class .wdsj_title a span.self_on{background-position:-7px -75px;}
.shop_center .shop_center_class .scj_title a span.self_on{background-position:-7px -94px;}
.shop_center .shop_center_class .jsb_title a span.self_on{background-position:-7px -122px;}
/*我的书架~图书*/
.scj_book_con .scj_sort_shang,.scj_book_con .scj_sort_xia,.wdsj_name .wdsj_sort_shang,.wdsj_name .wdsj_sort_xia {background:url(../img/bg_008.png) no-repeat; position:absolute;width:8px; height:5px; text-indent:-99999px;}

.wdsj_name { height:35px; line-height:35px; border:1px solid #dcdcdc; background:#f6f6f6;}
.wdsj_name p{ display:inline-block; width:76px;text-align:center; margin-right:1px; color:#656260; cursor:pointer; overflow:hidden; margin-bottom:15px; position:relative;}
.wdsj_name .wdsj_sort_shang { background-position:-8px -206px; right:0px; top:11px; }
.wdsj_name .wdsj_sort_shang:hover { background-position:-20px -206px; right:0px; top:11px; }
.wdsj_name .wdsj_sort_xia { background-position:-8px -212px; right:0px; top:18px;}
.wdsj_name .wdsj_sort_xia:hover { background-position:-20px -212px; right:0px;top:18px;}
.wdsj_name i.wdsj_name_wz { background-position:-125px -527px; width:28px; height:28px; text-indent:-99999px;}
.wdsj_name i.wdsj_name_tp { background-position:-125px -494px; width:28px; height:28px; text-indent:-99999px;}

.wdsj_con ul.wdsj_list li { float:left;text-align:center; padding:32px 35px 30px 10px; border-bottom:1px solid #e5e5e5; }
.wdsj_con ul.wdsj_list li img{ width:106px; height:142px;box-shadow:0 0 10px #dcdcd8;}
.wdsj_con ul.wdsj_list div.jieshao {}
.wdsj_con ul.wdsj_list li p.title { font-size:14px; padding-top:5px;}
.wdsj_con ul.wdsj_list li p.title a {color:#4a4a4a; }
.wdsj_con ul.wdsj_list li p.author {color:#aaaaaa; line-height:23px; height:23px;}
.wdsj_con ul.wdsj_list li p.xing { padding:3px 0 5px 0px;}
.wdsj_con ul.wdsj_list li p.reader_jd { line-height:25px;}
.wdsj_con ul.wdsj_list li p.reader {line-height:27px; height:27px; width:74px; margin:0 auto;background-color:#515151; }
.wdsj_con ul.wdsj_list li p.reader:hover { background-color:#ca0000;}

/*我的收藏~图书*/

.scj_book_con { border:1px solid #e1e1e1; border-top:1px solid #c50000; overflow:hidden; padding:10px 22px;}
.scj_book_con ul.scj_book_list li { float:left;text-align:center; width:208px;}
.scj_book_con ul.scj_book_list li img{ width:106px; height:142px;box-shadow:0 0 10px #dcdcd8;}
.scj_book_con ul.scj_book_list div.jieshao {}
.scj_book_con ul.scj_book_list li p.title { font-size:14px; padding-top:5px;}
.scj_book_con ul.scj_book_list li p.title a {color:#4a4a4a; }
.scj_book_con ul.scj_book_list li p.author {color:#aaaaaa; line-height:23px; height:23px;}
.scj_book_con ul.scj_book_list li p.xing { padding:3px 0 5px 0px;}
.scj_book_con ul.scj_book_list li p.price { line-height:24px;color:#aaaaaa;}
.scj_book_con ul.scj_book_list li p.other { line-height:20px; }
.scj_book_con ul.scj_book_list li p.other .shoucang,.scj_book_con ul.scj_book_list li p.other .shoucang_cg,.scj_book_con ul.scj_book_list li p.other .share {background-image: url(../img/bg_005.png);display: inline-block;height:20px;width: 30px;text-indent:-9999px}
.scj_book_con ul.scj_book_list li p.other .shoucang {border:1px solid #d2d2d2;background-position: -5px -1px;cursor:pointer;}
.scj_book_con ul.scj_book_list li p.other .shoucang_cg {border:1px solid #d2d2d2;background-position:-113px -1px;cursor:pointer;}
.scj_book_con ul.scj_book_list li p.other .share { border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;background-position: -4px 85px;}
.scj_book_con ul.scj_book_list li p.other .share:hover{ background-position:-40px -25px;}
.scj_book_con ul.scj_book_list li p.other .goumai{background:#c50000;display: inline-block; width:40px; height:22px; text-align:center; line-height:22px;}
.scj_book_con ul.scj_book_list li p.other .chakan{background:#515151;display: inline-block;width:40px; height:22px; text-align:center; line-height:22px;}

.scj_book_con .scj_sort p{ display:inline-block; width:66px; height:23px; line-height:23px; text-align:center; background:#ececec; margin-right:1px; color:#656260; cursor:pointer; overflow:hidden; margin-bottom:15px; position:relative;}

.scj_book_con .scj_sort_shang{ background-position:-8px -206px; right:2px; top:4px; }
.scj_book_con .scj_sort_shang:hover{ background-position:-20px -206px; right:2px; top:4px; }
.scj_book_con .scj_sort_xia { background-position:-8px -212px; right:2px; top:12px;}
.scj_book_con .scj_sort_xia:hover { background-position:-20px -212px; right:2px;top:12px;}

.scj_tab span { display:inline-block; width:84px; height:34px; line-height:34px; color:#fff; background:#515151; cursor:pointer; text-align:center; }
.scj_tab span.on { background:#c50000;}
.scj_book_con .plqx {border-bottom:1px solid #d1d1d1; height:23px; line-height:23px;}
.scj_book_con .plqx input[type="button"] { border:0; background:#f6f6f6; cursor:pointer;}
.scj_book_con_zixun p { border-bottom:1px dashed #d1d1d1; line-height:39px; height:39px;}
.scj_book_con_zixun p input[type="checkbox"] {vertical-align:middle;margin-top:-4px}

/*我的账号*/
.wzdh_all{}
.wdzh_zhuangtai { padding:30px; border:1px solid #d4d4d4;overflow:hidden;}
.wzdh_all .wdzh_zhuangtai_tx  { width:136px;text-align:center;}
.wzdh_all .wdzh_zhuangtai_tx img { width:70px; height:70px; border:1px solid #eeeeee; border-radius:50%; padding:2px;}
.wzdh_all .wdzh_zhuangtai_tx .wdzh_zhuangtai_tx_zhmc{  color:#515151;}

.wzdh_all .wdzh_zhuangtai_tx .wdzh_zhuangtai_tx_xgxx {
  line-height: 35px;
}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_one,.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_two,.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_three,.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_four,.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_five{background:url(../img/bg_009.png) no-repeat; width:600px; height:100px;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_one { background-position:0px -9px;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_two { background-position:0px -109px;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_three { background-position:0px -209px;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_four { background-position:0px -312px;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_five { background-position:0px -425px;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_ddsm {}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_ddsm .wdzh_zhuangtai_sj_ddsm_01,.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_ddsm .wdzh_zhuangtai_sj_ddsm_02,.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_ddsm .wdzh_zhuangtai_sj_ddsm_03 { padding:6px 25px; border:1px solid #f11511; color:#494949; border-radius:25px;;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_ddsm .wdzh_zhuangtai_sj_ddsm_01 { margin-left:70px;}
.wzdh_all .wdzh_zhuangtai_sj .wdzh_zhuangtai_sj_ddsm .wdzh_zhuangtai_sj_ddsm_01 i { color:#c60001;}

.wdzh_dongtai {width:672px; overflow:hidden;}
.wdzh_dongtai_name span,.wdzh_dongtai_fxts_name  a.shanchu,.wdzh_dongtai_fbjs_name  a.shanchu{background:url(../img/bg_008.png) no-repeat;}
.wdzh_dongtai_fxts_name a.shanchu,.wdzh_dongtai_fbjs_name  a.shanchu{ background-position:-8px  -222px;color:#c60001; padding:3px 10px 3px 30px;}
.wdzh_dongtai .wdzh_dongtai_name{height:31px;line-height:31px; overflow:hidden; background-color:#c50000;}
.wdzh_dongtai_name span { background-position:-8px -250px;}
.wdzh_dongtai .wdzh_dongtai_all{ border:1px solid #d4d4d4; border-top: none; padding:20px 15px; width:640px; overflow:hidden;}
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list { border-bottom:1px solid #f3caca; overflow:hidden; padding-bottom:25px;}
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list li { float:left;text-align:center; width:159px;}
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list li img{ width:106px; height:142px;box-shadow:0 0 10px #dcdcd8;}
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list div.jieshao {}
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list li p.title { font-size:14px; padding-top:5px;}
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list li p.title a {color:#4a4a4a; }
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list li p.author {color:#aaaaaa; line-height:23px; height:23px;}
.wdzh_dongtai_fxts ul.wdzh_dongtai_fxts_list li p.xing { padding:3px 0 5px 0px;}
.wdzh_dongtai_fbjs .wdzh_dongtai_fbjs_list .wdzh_dongtai_fbjs_list_con{ color:#8d8c8c;}

.wdzh_hy { overflow:hidden;text-align:center; width:183px;}
.wdzh_hy .wdzh_hy_title{height:31px;line-height:31px; background-color:#c50000;}
.wdzh_hy .wdzh_hy_list {border:1px solid #d4d4d4; border-top: none;}
.wdzh_hy .wdzh_yqhy i { background-position:-560px -75px; width:15px; height:18px;}
.wdzh_hy .wdzh_yqhy_mc{color:#717171; font-weight:400;  border-bottom:1px dashed #eeeeee;}
.wdzh_hy .wdzh_hy_tx { width:55px; height:55px;background-position:-546px -206px;}
.wdzh_hy p img { width:44px;  height:44px; border-radius:50%; padding:4px 2px 0 0;}


.wdzh_jgyh .wdzh_jgyh_title{height:31px;line-height:31px; background-color:#c50000;}
.wdzh_jgyh .wdzh_jgyh_list { border:1px solid #d4d4d4; border-top:none;}
.wdzh_jgyh .wdzh_jgyh_list dl.wdzh_jgyh_con  { border-bottom:1px dashed #5a5d63;}
.wdzh_jgyh .wdzh_jgyh_list dl.wdzh_jgyh_con img {width:70px; height:70px; border:1px solid #eeeeee; border-radius:50%; padding:2px;}
.wdzh_jgyh .wdzh_jgyh_list dl.wdzh_jgyh_con dd.yhmc { color:#515151;}
.wdzh_jgyh .wdzh_jgyh_list dl.wdzh_jgyh_con dd.author { color:#2c3138; padding-bottom:10px;background:url(../img/bg_002.png) repeat-x center 40%; width:134px; margin:0 auto;}
.wdzh_jgyh .wdzh_jgyh_list dl.wdzh_jgyh_con dd.author a{ color:#2c3138; padding:0 20px; background:#fff; color:#515151;}
/*邀请好友*/
.yqhy_content { display: none; position: absolute; top: 40%; left: 25%; background-color: white; z-index:1002; overflow: auto; width:670px; height:340px; background:#fff;}
.yqhy_black_overlay { display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color:#000; z-index:1001; -moz-opacity: 0.6; opacity:.60; filter: alpha(opacity=60);}
.yqhy_name {font-size:16px; line-height:40px; font-weight:bold; height:40px; position:relative;text-align:left; color:#2d2d2d;}
.yqhy_close {position:absolute; right:20px; top:0px; font-size:12px;}
.yqhy_close a {text-decoration:none; font-size:14px; font-weight:700}
.yqhy_con {width:640px; margin:105px auto 70px auto; text-align:center;}
.yqhy_con .yqhy_lj{}
.yqhy_con input.yqhy_fz{background:#c50000; height:30px; line-height:30px; padding:0 40px; border:0px; cursor:pointer}


/*修改信息*/
.wzdh_xgxx .wzdh_xgxx_tx{ padding-left:65px;}
.wzdh_xgxx .wzdh_xgxx_tx img{border: 1px solid #eeeeee;border-radius: 50%;height: 105px;padding: 2px;width: 105px;}
.wzdh_xgxx i.wzdh_xgxx_bdmc {background-position: -5px -142px;height: 18px;width: 15px;}
.wzdh_xgxx i.wzdh_xgxx_bdyx {background-position: -8px -294px;height: 15px;width: 17px;}
.wzdh_xgxx i.wzdh_xgxx_bdhm {background-position: -5px -264px;height: 18px;width: 15px;}
input.bdmc,input.bdyx,input.bdhm{ outline:none; border:0px; width:190px; height:32px; line-height:32px; padding-left:25px; color:#9a9a9a; font-size:12px;}
.wzdh_xgxx .wzdh_xgxx_04 {background:#f2f1f1;border: 1px solid #d8d8d8;margin-left: 28px;padding: 9px 15px;}
.wzdh_xgxx .wzdh_xgxx_tj { padding-left:100px;}
.wzdh_xgxx .wzdh_xgxx_btn{ width:85px; height:32px; line-height:32px; background:#c50000; border:0px;}
/*修改邮箱*/
.main_right .wzdh_yzsjh,.main_right .wzdh_xgyx,.main_right .wzdh_bmwtyz,.main_right .wzdh_yzsjh,.main_right .wzdh_xgmm {padding:20px 120px 100px 240px; border:1px solid #d9d9d9;}

.wzdh_xgyx .wzdh_xgyx_ico{ background-position:-94px -405px; width:74px; height:74px; margin:50px 0 0px 170px;}
.wzdh_xgyx .wzdh_xgyx_bdyx i.xgyx_01{background-position: -8px -294px;height: 15px;width: 17px;}
.wzdh_xgyx .wzdh_xgyx_bdyx i.xgyx_03{ background-position: -8px -207px;height: 18px;width: 17px;}
.wzdh_xgyx .wzdh_xgyx_bdyx input.xgyx_02{border: 1px solid #e1e1e1;height: 35px;padding-left: 10px;width: 220px; color:#9a9a9a;}
.wzdh_xgyx .wzdh_xgyx_yzm i.xgyx_yzm_01 {background-position: -7px -176px;height: 18px;width: 17px;}
.wzdh_xgyx .wzdh_xgyx_yzm input.xgyx_yzm_02{ border: 1px solid #e1e1e1;height: 35px;padding-left: 10px;width: 100px; color:#9a9a9a;}
.wzdh_xgyx .wzdh_xgyx_yzm .xgyx_yzm_03 { display: inline-block;margin: -2px 5px 0;vertical-align: middle;}
.wzdh_xgyx  input.wzdh_xgyx_btn {background-color: #c50000;border: 0 none;cursor: pointer;height: 30px;line-height: 30px;margin-left: 95px;margin-top: 20px;width: 234px; text-align:center;}
/*验证身份-手机*/
.wzdh_yzsf_sj{border:1px solid #d9d9d9; padding:18px;}
.wzdh_yzsf_sj .wzdh_yzsf_sj_tit { border-bottom:2px solid #c50000;}
.wzdh_yzsf_sj i.wzdh_yzsf_sj_01 { background-position:-582px -73px; width:17px; height:20px;}
.wzdh_yzsf_sj i.wzdh_yzsf_sj_02 {background-position:-96px -488px; width:17px; height:20px;}
.wzdh_yzsf_sj i.wzdh_yzsf_sj_03	{background-position:-96px -510px; width:17px; height:17px;}
.wzdh_yzsf_sj i.wzdh_yzsf_sj_04	{background-position:-104px -528px; width:17px; height:20px;}
.wzdh_yzsf_sj a.wzdh_yzsf_sj_yzlj {background:#c50000;}

/*手机号验证*/
.wzdh_yzsjh .wzdh_yzsjh_ico{ background-position:-185px -415px; width:62px; height:85px; margin:50px 0 0px 170px;}
.wzdh_yzsjh .wzdh_yzsjh_jsj i.yzsjh_jsj_01{background-position:-8px -264px;height: 19px;width: 17px;}
.wzdh_yzsjh .wzdh_yzsjh_jsj i.yzsjh_jsj_03{ background-position: -8px -207px;height: 18px;width: 17px;}
.wzdh_yzsjh .wzdh_yzsjh_jsj input.yzsjh_jsj_02{border: 1px solid #e1e1e1;height: 35px;padding-left: 10px;width: 220px; color:#9a9a9a;}
.wzdh_yzsjh .wzdh_yzsjh_yzm i.yzsjh_yzm_01 {background-position: -7px -176px;height: 18px;width: 17px;}
.wzdh_yzsjh .wzdh_yzsjh_yzm input.yzsjh_yzm_02{ border: 1px solid #e1e1e1;height: 35px;padding-left: 10px;width: 108px; color:#9a9a9a;}
.wzdh_yzsjh .wzdh_yzsjh_yzm a.yzsjh_yzm_03 { background:#f2f1f1;border: 1px solid #d8d8d8;padding: 8px 15px;}
.wzdh_yzsjh  input.wzdh_yzsjh_btn {background-color: #c50000;border: 0 none;cursor: pointer;height: 30px;line-height: 30px;margin-left: 110px;margin-top: 20px;width: 234px;}

/*保密问题验证*/
.wzdh_bmwtyz .wzdh_bmwtyz_ico{ background-position:-263px -415px; width:64px; height:60px; margin:50px 0 0px 170px;}
.wzdh_bmwtyz .wzdh_bmwtyz_wt i.bmwtyz_wt_01{background-position:-263px -486px;height: 18px;width: 20px;}
.wzdh_bmwtyz .wzdh_bmwtyz_wt input.bmwtyz_wt_02,.wzdh_bmwtyz .wzdh_bmwtyz_da input.bmwtyz_da_02{border: 1px solid #e1e1e1;height: 35px;padding-left: 10px;width: 220px; color:#9a9a9a;}
.wzdh_bmwtyz .wzdh_bmwtyz_da i.bmwtyz_da_01 {background-position: -303px -486px;height: 18px;width: 20px;}
.wzdh_bmwtyz  input.wzdh_bmwtyz_btn {background-color: #c50000;border: 0 none;cursor: pointer;height: 30px;line-height: 30px;margin-left: 90px;margin-top: 20px;width: 234px;}

/*修改密码*/
.wzdh_xgmm .wzdh_xgmm_ico{ background-position:-184px -504px; width:66px; height:78px; margin:50px 0 0px 170px;}
.wzdh_xgmm .wzdh_xgmm_xmm i.xgmm_xmm_01{background-position:-8px -324px;height: 16px;width:15px;}
.wzdh_xgmm .wzdh_xgmm_xmm input.xgmm_xmm_02,.wzdh_xgmm .wzdh_xgmm_cf input.xgmm_cf_02{border: 1px solid #e1e1e1;height: 35px;padding-left: 10px;width: 220px; color:#9a9a9a;}
.wzdh_xgmm .wzdh_xgmm_cf i.xgmm_cf_01 {background-position:-8px -354px;height: 18px;width: 17px;}
.wzdh_xgmm  input.wzdh_xgmm_btn {background-color: #c50000;border: 0 none;cursor: pointer;height: 30px;line-height: 30px;margin-left:120px;margin-top: 20px;width: 234px;}

/*积分*/
.wzdh_jf { border:1px solid #d9d9d9; padding:18px 25px 70px 25px;}
.wzdh_jf .wzdh_jf_duih {width:590px; margin:80px auto; text-align:center;}
.wzdh_jf .wzdh_jf_duih_01 i.jf_duih_03 { background-position:-340px -470px; width:20px; height:20px;}
.wzdh_jf .wzdh_jf_duih_01 input.jf_duih_04{width:143px; height:30px; border:1px solid #e1e1e1; }
.wzdh_jf input.wzdh_jf_btn {background-color: #c50000;border: 0 none;cursor: pointer;height: 28px;line-height:28px;margin-left:20px;margin-top: 20px;width:105px;}
.wzdh_jf .wzdh_jf_sm table{border-collapse:collapse; border:1px solid #e1e1e1; margin:0 auto; width:560px}
.wzdh_jf .wzdh_jf_sm table tr { line-height:34px; vertical-align:middle; text-align:center;}
.wzdh_jf .wzdh_jf_sm table tr.jf_title {background:#f3f3f3;}
.wzdh_jf .wzdh_jf_sm table tr td { border:1px solid #e1e1e1;}

/*优惠券*/
.wzdh_yhq {border:1px solid #d9d9d9; padding:40px 35px;}
.wzdh_yhq .wzdh_yhq_con {width:690px; margin:0 auto;}
.wzdh_yhq .wzdh_yhq_con .wzdh_yhq_con_all { overflow:hidden;}
.wzdh_yhq_con_all .wzdh_yhq_con_all_01{width:340px; height:88px; background:#eeeeee; text-align:center}
.wzdh_yhq_con_list .wzdh_yhq_con_list_title {border-bottom:1px solid #c50000;}
.wzdh_yhq_con_list .wzdh_yhq_con_list_tab { font-weight:bold; overflow:hidden;}
.wzdh_yhq_con_list .wzdh_yhq_con_list_tab p{ width:222px; height:24px;}
.wzdh_yhq_con_list .wzdh_yhq_con_list_tab p.wzdh_yhq_con_list_tab_02{ text-align:center;}
.wzdh_yhq_con_list .wzdh_yhq_con_list_tab p.wzdh_yhq_con_list_tab_03{ text-align:right;}
.wzdh_yhq_con_list .wzdh_yhq_con_list_tab span { cursor:pointer;}
.wzdh_yhq_con_list .wzdh_yhq_con_list_tab span.on { color:#ca0000; border-bottom:2px solid #ca0000;}

.wzdh_yhq_con_list_tab_con table table{border-collapse:collapse; margin:0 auto; width:100%;}
.wzdh_yhq_con_list_tab_con table tr { vertical-align:middle; text-align:center;}
.wzdh_yhq_con_list_tab_con table tr.yhq_title {background:#f2f2f2; line-height:45px; height:45px;}
.wzdh_yhq_con_list_tab_con table tr td{ width:33.33%}
.wzdh_yhq_con_list_tab_con table tr.yhq_con { height:125px;}
.wzdh_yhq_con_list_tab_con table tr td div.yhq_con_01{ background-position:-256px -512px; width:214px; height:78px;}
.yhq_con .yhq_con_02{ font-size:29px;}
.yhq_con .yhq_con_03{ font-size:58px;}
.yhq_con .yhq_con_04{ font-size:25px;}
.yhq_con .yhq_con_05{ }
.yhq_sy {text-align:right;}
.yhq_sy  .yhq_sy_01{background:#ca0000; line-height:30px; height:30px;padding:3px 15px;}

/*记事本*/
.wzdh_jsb{padding:30px 20px; border:1px solid #cbcbcb; overflow:hidden;}
.wzdh_jsb_list {border-bottom:1px dashed #d6d6d6;}
.wzdh_jsb .wzdh_jsb_con i.wzdh_jsb_con_03 { background-position:-398px -418px;width:15px; height:17px;}
.wzdh_jsb .wzdh_jsb_con i.on{ background-position:-374px -418px; }
.wzdh_jsb .wzdh_jsb_con i.wzdh_jsb_con_04 { background-position:-398px -444px; width:15px; height:17px;}
.wzdh_jsb .wzdh_jsb_zjjl{background:#ca0000; line-height:30px; height:30px;}

/*记录详情*/
.main_jlxq,.main_ssj{ width:1200px; margin:0 auto 48px auto; overflow:hidden; background:#fff;}
.main_jlxq .jlxq_nav,.main_ssj .ssj_nav{border-bottom:2px solid #da0b2d;}
.jlxq_con .jlxq_tit{color:#ca0000; border-bottom:1px solid #fce8e8; text-align:center;}
.jlxq_other { overflow:hidden; text-align:center; padding-left:160px;}
.jlxq_other span.dz,.jlxq_other span.sc  { cursor:pointer;}
.jlxq_other span i {height:18px;width:18px; }
.jlxq_other span i.jlxq_other_01 { background-position:-70px -450px}
.jlxq_other span i.jlxq_other_01_cg { background-position:-70px -469px}
.jlxq_other span i.jlxq_other_02 { background-position:-70px -410px}
.jlxq_other span i.jlxq_other_02_cg { background-position:-70px -430px}
.jlxq_other span i.jlxq_other_03 { background-position:-70px -488px}
.jlxq_other span.share:hover .jlxq_other_03{ background-position:-70px -506px;}
.jlxq_con .jlxq_nr { border-bottom:1px dashed #d6d6d6; overflow:hidden;}
.jlxq_con .jlxq_nr i.jlxq_nr_del { background-position:-429px -480px; width:20px; height:22px;}
.jlxq_pinglun textarea.pinglun_k {border:1px solid #c50000;width:100%;height:105px;}
.jlxq_pinglun .pinglun_btn {border:0px; color:#fff; line-height:30px; height:30px; width:120px;background:#c50000; cursor:pointer}
/*随手记*/
.ssj_con .ssj_con_01 {border:1px solid #e1e1e1; margin:0 auto; width:1070px; text-align:center}
.ssj_con .ssj_con_01 .ssj_con_btn {height:32px; line-height:32px;}
.ssj_con .ssj_con_01 .ssj_con_btn .ssj_con_btn_01  {background:#c50000;padding:5px 30px;}
.ssj_con .ssj_con_01 .ssj_con_btn .ssj_con_btn_02 {background:#515151;padding:5px 45px}

/*我的订单*/
.wzdh_wddd_tab {background:#eaeaea; border-bottom:3px solid #c7c7c7; height:46px; line-height:47px;}
.wzdh_wddd_tab .wzdh_wddd_tab_now { border-bottom:3px solid #b61620; padding-bottom:13px;}
.wzdh_wddd_sel {border:1px solid #d7d7d7; border-top:0px; height:66px; line-height:66px;}
.wzdh_wddd_sel_t {vertical-align:middle; width:100%;}
.wzdh_wddd_sel .wzdh_wddd_sel_01 .select_top {background:url(../img/search_down.png) no-repeat 50px center;overflow:hidden;width:78px;border:1px solid #d4d4d4; margin:18px 0 0 10px;}
.wzdh_wddd_sel .wzdh_wddd_sel_01 .select_top select{background:url(../img/search_bg001.png) no-repeat 67% 40%;border:none;width:130%; color:#767676; height:28px; line-height:28px;}
.wzdh_wddd_sel .wzdh_wddd_sel_02 { position:relative;}
.wzdh_wddd_sel .wzdh_wddd_sel_02 i.time_ks { position:absolute; background-position:-372px -472px; width:17px; height:15px; top:25px; right:165px; text-indent:-99999px;}
.wzdh_wddd_sel .wzdh_wddd_sel_02 i.time_js { position:absolute; background-position:-372px -472px;width:17px; height:15px;top:25px; right:35px;text-indent:-99999px;}
.wzdh_wddd_sel .wzdh_wddd_sel_02 input.wzdh_wddd_sel_time {border:1px solid #d4d4d4; width:115px; height:30px;}
.wzdh_wddd_sel .wzdh_wddd_sel_03 a.on { color:#fff; background:#ff3d3d; padding:6px 10px;}

.wddd_all .wddd_all_tit {background:#eaeaea; line-height:50px; height:50px;}
.wddd_all table.wddd_detail { text-align:center; border-top:0px; width:100%;border-collapse:collapse;}
.wddd_all table.wddd_detail dl.wddd_detail_sp dt{ padding-left:70px;}
.wddd_all table.wddd_detail tr td {border:1px solid #ebebeb;vertical-align:top;}
.wddd_all table.wddd_detail .wddd_detail_01{border-bottom:1px solid #ebebeb; text-align:left; overflow:hidden;}
.wddd_all table.wddd_detail .wddd_detail_01 img { width:86px; height:124px;}
.wddd_all table.wddd_detail .wddd_detail_fk{background:#da0d0d; padding:3px 15px;}

/*订单详情*/
.wzdh_ddxq { padding:20px 35px;}
.wzdh_ddxq .wzdh_ddxq_ddxx_tit {background:#eaeaea; line-height:49px; height:49px;}
.wzdh_ddxq .wzdh_ddxq_ddxx_con {border:1px solid #eaeaea; border-top:0px;}
.wzdh_ddxq .wzdh_ddxq_ddxx_con .wzdh_ddxq_ddxx_con_zffs{height:90px; line-height:90px;}
.wzdh_ddxq .wzdh_ddxq_ddxx_con .wzdh_ddxq_ddxx_con_bz{background:#f9f9f9;height:90px; padding-left:65px;}
.wzdh_ddxq_ddxx .wzdh_ddxq_ddxx_con i.wzdh_ddxq_ddxx_con_zffs_02{ background-position:-340px -446px; width:18px; height:24px; margin-left:65px; margin-right:5px;}
.wzdh_ddxq_ddxx .wzdh_ddxq_ddxx_con i.wzdh_ddxq_ddxx_con_bz_02{ background-position:-340px -417px; width:20px; height:22px; margin-right:5px;}
.wzdh_ddxq .wzdh_ddxq_ddjs { text-align:right;}
/*申请售后*/
.wzdh_sqsh{}
.wzdh_sqsh table.wzdh_sqsh_list { text-align:center; border:0px; width:100%;border-collapse:collapse;}
.wzdh_sqsh table.wzdh_sqsh_list tr td {border:1px solid #fff;vertical-align: middle;}
.wzdh_sqsh table.wzdh_sqsh_list tr.wzdh_sqsh_list_tit{background:#ca0000; line-height:34px; height:34px; }
.wzdh_sqsh table.wzdh_sqsh_list tr.wzdh_sqsh_list_tit td.wzdh_sqsh_list_tit_01 {width:170px}
.wzdh_sqsh table.wzdh_sqsh_list tr.wzdh_sqsh_list_sp {background:#ededed;}
.wzdh_sqsh table.wzdh_sqsh_list tr.wzdh_sqsh_list_sp td.wzdh_sqsh_list_sp_02 {padding:8px 0 8px 35px; width:395px; overflow:hidden;}
.wzdh_sqsh table.wzdh_sqsh_list tr.wzdh_sqsh_list_sp td.wzdh_sqsh_list_sp_02 img { width:88px; height:123px;}

/*好友主页*/
.main_hyzy { padding:35px 58px; background:#fff; width:1084px; margin:0 auto; overflow:hidden;}
.wdzh_zhuangtai_hyzy { padding:30px 115px 30px 90px; border:1px solid #d4d4d4;overflow:hidden;}

.wdzh_dongtai_hyzy .wdzh_dongtai_name {
  height: 31px;
  line-height: 31px;
  overflow: hidden;
}
.wdzh_dongtai_name span { background-position:-8px -250px;}
.wdzh_dongtai_hyzy .wdzh_dongtai_all{ border:1px solid #d4d4d4; border-top: none; padding:20px 15px; width:640px; overflow:hidden;}

.wdzh_dongtai_hyzy { width:880px; overflow:hidden;}
.wdzh_dongtai_hyzy .wdzh_dongtai_all_hyzy{ border:1px solid #d4d4d4; border-top: none; padding:20px 15px; width:848px; overflow:hidden;}

/*加入购物车提示*/
.main_jrgwcts,.main_gwctjcg,.main_tjdd { width:1200px; margin:0 auto 40px auto; background:#fff;}
.wzdh_jrgwcts,.wzdh_gwctjcg_cg,.wzdh_tjdd {padding:55px 55px 35px 55px;}
.wzdh_jrgwcts .wzdh_jrgwcts_cg{ overflow:hidden;}
.wzdh_jrgwcts .wzdh_jrgwcts_cg_01 i.wzdh_jrgwcts_cg_01_ico { background-position:-552px -351px; width:48px; height:48px;}
.wzdh_jrgwcts_cg .wzdh_jrgwcts_cg_02 dl.wzdh_jrgwcts_cg_03 {width:100%; height: 150px;}
.wzdh_jrgwcts_cg .wzdh_jrgwcts_cg_02 dl.wzdh_jrgwcts_cg_03 img { width:61px; height:89px;}
/*.wzdh_jrgwcts_cg .wzdh_jrgwcts_cg_02 dl.wzdh_jrgwcts_cg_03 dd {width:998px;}*/
.wzdh_jrgwcts_cg .wzdh_jrgwcts_cg_02 dl.wzdh_jrgwcts_cg_03 dd {width: calc(100% - 200px);}
.wzdh_jrgwcts_cg .wzdh_jrgwcts_cg_02 dl.wzdh_jrgwcts_cg_03 p.wzdh_jrgwcts_cg_03_01 {text-align:right}
.wzdh_jrgwcts_cg .wzdh_jrgwcts_cg_02 dl.wzdh_jrgwcts_cg_03 p.wzdh_jrgwcts_cg_03_01 .wzdh_jrgwcts_cg_03_01a {border:1px solid #ca0000; padding:3px 25px;}
.wzdh_jrgwcts_cg .wzdh_jrgwcts_cg_02 dl.wzdh_jrgwcts_cg_03 p.wzdh_jrgwcts_cg_03_01 .wzdh_jrgwcts_cg_03_01b {background:#c50000; padding:3px 15px;}
.wzdh_jrgwcts_qtxg {}
.wzdh_jrgwcts_qtxg .wzdh_jrgwcts_qtxg_tit{background:#eaeaea; height:48px; line-height:48px; font-weight:bold;}
.wzdh_jrgwcts_qtxg .wzdh_jrgwcts_qtxg_list{padding:20px 32px; border:1px solid #d7d7d7; border-top:0px; overflow:hidden;}
.wzdh_jrgwcts_qtxg_list dl.wzdh_jrgwcts_qtxg_con dt img { width:89px; height:130px;}
.wzdh_jrgwcts_qtxg_list dl.wzdh_jrgwcts_qtxg_con dd { width:136px;}
.wzdh_jrgwcts_qtxg_con_price_del { text-decoration:line-through;}

/*提交成功*/
.wzdh_gwctjcg .wzdh_gwctjcg_cg_dingdan i.wzdh_gwctjcg_cg_dingdan_ico { background-position: -532px -268px;height: 70px;width: 70px;}
.wzdh_gwctjcg .wzdh_gwctjcg_cg_zffs i.wzdh_gwctjcg_cg_zffs_tit_ico {background-position: -340px -446px;height: 24px;width: 18px;}
.wzdh_gwctjcg_cg_dingdan .wzdh_gwctjcg_cg_dingdan_01,.wzdh_gwctjcg_cg_dingdan .wzdh_gwctjcg_cg_dingdan_02 { text-align:center;}
.wzdh_gwctjcg_cg_dingdan .wzdh_gwctjcg_cg_dingdan_03,.wzdh_gwctjcg_cg_zffs .wzdh_gwctjcg_cg_zffs_other { text-align:right;}
.wzdh_gwctjcg_cg_zffs_tit{background:url(../img/bg_tjcg.png) repeat-x left center;}
.wzdh_gwctjcg_cg_zffs_tit span { background:#fff;}
.wzdh_gwctjcg_cg_zffs_list table.bank_xq { border:0px;border-collapse:collapse; vertical-align:middle; width:780px; margin:5px auto 125px auto;}
.wzdh_gwctjcg_cg_zffs_list table.bank_xq i.bank_jsyh { background-position:-474px -535px; width:125px; height:65px;}
.wzdh_gwctjcg_cg_zffs_list table.bank_xq i.bank_zhb { background-position:-474px -468px; width:125px; height:65px;}
.wzdh_gwctjcg_cg_zffs_list table.bank_xq i.bank_wx { background-position:-474px -402px; width:125px; height:65px;}
.wzdh_gwctjcg_cg_zffs_other .wzdh_gwctjcg_cg_zffs_other_01{background:#c50000; padding:5px 15px;}

/*提交订单*/
.wzdh_tjdd_tit,.wzdh_tjdd_list_con_zj { font-weight:bold;}
.wzdh_tjdd_list_con  {border-collapse:collapse;}
.wzdh_tjdd_list_con tr{ border:1px solid #cecece;}
.wzdh_tjdd_list_con tr td { border:0px;}
.wzdh_tjdd_list_con_img { height: 89px; margin-left:82px;width: 61px;}
.wzdh_tjdd_list_con_img img {vertical-align: top;width: 100%;}
.wzdh_tjdd_jiesuan { text-align:right;}
.wzdh_tjdd_jiesuan .wzdh_tjdd_jiesuan_01{border:1px solid #dcdcdc ; width:50px; height:14px; line-height:14px;}
.wzdh_tjdd_jiesuan .wzdh_tjdd_jiesuan_02{border:0px; background:#c50000; width:142px; text-align:center; height:30px; line-height:26px; cursor:pointer;}
