<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <!-- Stylesheets
        ============================================= -->
  <link rel="stylesheet" href="../assets/skin/bookdetail.css" type="text/css"/>
  <link rel="stylesheet" href="../assets/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../assets/css/font-icons.css" type="text/css"/>

  <script type="text/javascript" src="../assets/config/index.js"></script>
  <script type="text/javascript" src="../assets/js/web.js"></script>

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<div>
  <div id="app" class="clearfix">
    <!---------------------------------页头导航组件--------------------------->
    <header_component></header_component>
    <!---------------------------------页头导航组件--------------------------->
    <components_bookdetail_handleurl></components_bookdetail_handleurl>
    <!--<header id="header" class="sticky-header">-->
    <!--<div id="header-wrap" class="container clearfix">-->
    <!--<div class="header-top clearfix">-->
    <!--<div id="logo" class="col-md-5 nopadding">-->
    <!--<a href="index.html" class="retina-logo"><img src="../assets/img/founder_Logo@2x.png" alt="智享 Logo"></a>-->
    <!--</div>-->
    <!--<div class="col-md-7 nopadding">-->
    <!--<div class="top-menu"><a href="javascript:void(0)">登 录</a>-->
    <!--<a href="javascript:void(0)" id="top-cart"><i class="icon-shopping-cart"></i> <span>0</span></a>-->
    <!--<a href="#">English</a>-->
    <!--</div>-->

    <!--&lt;!&ndash; 搜索框组件 &ndash;&gt;-->
    <!--<work_search_01_category_search namespace="index"></work_search_01_category_search>-->
    <!--&lt;!&ndash; END 搜索框组件 &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--<nav id="primary-menu" class="mainmenu clearfix">-->
    <!--<div class="col-md-4 nopadding"><label>资 讯</label>-->
    <!--<ul class="sf-js-enabled" style="touch-action: pan-y;">-->
    <!--<li><a href="/pages/column/42/46/list/list.html">新闻中心</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-4 nopadding"><label>图 书</label>-->
    <!--<ul class="sf-js-enabled" style="touch-action: pan-y;">-->
    <!--<li><a href="/pages/column/43/48/list/list.html">新 书</a></li>-->
    <!--<li><a href="/pages/column/43/49/list/list.html">热 销</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-4 nopadding"><label>电子书</label>-->
    <!--<ul class="sf-js-enabled" style="touch-action: pan-y;">-->
    <!--<li><a href="/pages/column/44/51/list/list.html">推荐</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-4 nopadding"><label>资源</label>-->
    <!--<ul class="sf-js-enabled" style="touch-action: pan-y;">-->
    <!--<li><a href="/pages/column/45/54/list/list.html">课 件</a></li>-->
    <!--<li><a href="/pages/bookcatalog.html">书目下载</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-4 nopadding col-last">-->
    <!--<label><a href="https://shrmms.tmall.com/" target="_blank">天猫旗舰店</a></label>-->
    <!--<ul class="sf-js-enabled" style="touch-action: pan-y;">-->
    <!--<li><a href="#">亚马逊</a></li>-->
    <!--<li><a href="#">京 东</a></li>-->
    <!--<li><a href="#">当当网</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</nav>-->
    <!--</div>-->
    <!--</header>-->
    <!--<section id="info-book" class="col_full">-->
    <!--<div class="container clearfix book-detail">-->
    <!--<div class="col-md-4  noleftpadding">-->
    <!--&lt;!&ndash; Product Single - Gallery-->
    <!--============================================= &ndash;&gt;-->
    <!--<div class="product-image">-->
    <!--<div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">-->
    <!--<div class="flexslider">-->
    <!--<div class="slider-wrap" data-lightbox="gallery">-->
    <!--<div class="slide" :data-thumb="bookInfo.bigPic">-->
    <!--<a class="book_list_imgBox" :href="bookInfo.bigPic" title="Pink Printed Dress - Front View">-->
    <!--<img class="book_list_img" :src="bookInfo.bigPic" onload="DrawImage(this,410,280)" alt="暂无封面">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="slide" :data-thumb="bookInfo.bigPic">-->
    <!--<a class="book_list_imgBox" :href="bookInfo.bigPic" title="Pink Printed Dress - Side View">-->
    <!--<img class="book_list_img" :src="bookInfo.bigPic" onload="DrawImage(this,410,280)" alt="暂无封面">-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="sale-flash">热销!</div>-->
    <!--</div>&lt;!&ndash; Product Single - Gallery End &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-8 norightpadding" style="position: unset;">-->
    <!--<ol class="breadcrumb">-->
    <!--<li>你的位置：<a href="/pages/index/index.html">首 页</a></li>-->
    <!--<li><a @click="toSecond" id="second" v-text="columnName"></a></li>-->
    <!--</ol>-->
    <!--<h1></h1>-->
    <!--<ul>-->
    <!--<h3>题目</h3>-->
    <!--<li><label>作者：</label>作者</li>-->
    <!--<li><label>编者：</label>编者</li>-->
    <!--<li><label>ISBN编号:</label>ISBN编号</li>-->
    <!--</ul>-->

    <!--<div>-->
    <!--<div class="product-price">-->
    <!--<label>纸书售价：</label>-->
    <!--<span style="text-decoration: line-through; margin-right: 16px;">¥0</span>-->
    <!--<label>会员价：</label>-->
    <!--<span>¥0</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div id="detail_page_coupons" style="display: none">-->
    <!--&lt;!&ndash; 优惠券 &ndash;&gt;-->
    <!--<p class="cuxiao_3 pl35 mb10" style="padding-left: 43px;">-->
    <!--<span class="cx_03">优惠券</span>-->
    <!--<span>-->
    <!--<span>-->
    <!--<span>-->
    <!--<span class="book_cx03_01 color_fff">满1减1</span>-->
    <!--</span>-->
    <!--<span>-->
    <!--<span class="book_cx03_01 color_fff">直接抵扣1</span>-->
    <!--</span>-->
    <!--<span>-->
    <!--<span class="book_cx03_02 color_fff">1折</span>-->
    <!--</span>-->
    <!--</span>-->
    <!--</span>-->
    <!--<span class="ml22 gm_02"><a href="javascript:void(0)">领券</a></span>-->
    <!--</p>-->
    <!--&lt;!&ndash;优惠券领券弹窗页面组件&ndash;&gt;-->
    <!--<div id="getCoupon" style="display: none">-->
    <!--<div id="lq_light" class="lq_content">-->
    <!--<div class="line-h24">-->
    <!--<div class="lq_name color_fff">领券-->
    <!--<a href="javascript:void(0)" @click="hideModel()" class="lq_close color_fff">关闭</a>-->
    <!--</div>-->
    <!--<div class="lq" style="padding:15px;">-->
    <!--<div v-for="(list, index) in bookDetailCoupons.couponList"-->
    <!--:class="{'lq_01': index%2 === 0, 'lq_02': index%2 === 1}">-->
    <!--<div class="fl pt35 pl15 color_fff"-->
    <!--:class="{'lq_01_mc': index%2 === 0, 'lq_02_mc': index%2 === 1}">-->
    <!--<div v-if="list.type === 'fullCut'">-->
    <!--<span class="f20">￥</span>-->
    <!--<span style="font-size:40px;">{{list.couponPrice}}</span>-->
    <!--<div>满 {{list.fullPrice}} 使用</div>-->
    <!--</div>-->
    <!--<div v-if="list.type === 'deduction'">-->
    <!--<span class="f20">￥</span>-->
    <!--<span style="font-size:40px;">{{list.couponPrice}}</span>-->
    <!--<div>直接抵扣</div>-->
    <!--</div>-->
    <!--<div v-if="list.type === 'discountRate'">-->
    <!--<span style="font-size:40px;">{{list.couponPrice | formatDiscount}}</span>-->
    <!--<span class="f20">折</span>-->
    <!--<div>折扣率</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="lq_01_xq fl f14 color_2a2">-->
    <!--<p class="couponRange">仅限：-->
    <!--<span style="cursor:pointer;"-->
    <!--:title="list.classifyName">{{list.classifyName | formatName}}分类</span>-->
    <!--<span v-if="list.couponRange === 'book'">纸质书</span>-->
    <!--<span v-if="list.couponRange === 'ebook'">电子书</span>-->
    <!--</p>-->
    <!--<p style="margin-bottom: 0px;">{{list.couponStime | formatTime}} - {{list.couponEtime |-->
    <!--formatTime}}</p>-->
    <!--<p>-->
    <!--&lt;!&ndash;<a class="fl pt02 f12 color_727">详细信息</a>&ndash;&gt;-->
    <!--<a class="fr color_c50" @click="receiveCoupon(list)">-->
    <!--<span class="disabledCoupon" v-if="list.isPick === '1'">已领取</span>-->
    <!--<span class="lq_lqlj" v-else-if="list.pickNum > 0">领取</span>-->
    <!--<span class="disabledCoupon" v-else-if="list.pickNum === 0">已领完</span>-->
    <!--</a>-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div id="lq_fade" class="lq_black_overlay"></div>-->
    <!--</div>-->
    <!--&lt;!&ndash; 优惠券 END &ndash;&gt;-->
    <!--</div>-->

    <!--&lt;!&ndash; Product Single - Quantity & Cart Button-->
    <!--============================================= &ndash;&gt;-->
    <!--<form class="cart nobottommargin clearfix" method="post" enctype='multipart/form-data'>-->
    <!--&lt;!&ndash;<div v-if="bookInfo.contentType == 20430">&ndash;&gt;-->
    <!--<div class="quantity clearfix">-->
    <!--<input id="reduce" type="button" value="-" class="minus">-->
    <!--<input id="book_num" type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="qty"-->
    <!--size="4" @keypress="checkNumber($event)"/>-->
    <!--<input id="add" type="button" value="+" class="plus">-->
    <!--</div>-->
    <!--<div>-->
    <!--<button type="button" class="add-to-cart button nomargin"><i-->
    <!--class="icon-shopping-cart"></i>电子书加入购物车-->
    <!--</button>-->
    <!--<div class="ebookCart">-->
    <!--<a target="_blank" href="javascript:void(0)"-->
    <!--class="add-to-cart button nomargin" style="background-color: #444;cursor:default"><i-->
    <!--class="icon-newspaper"></i>电子书试读</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</form>&lt;!&ndash; Product Single - Quantity & Cart Button End &ndash;&gt;-->

    <!--<div>-->
    <!--<div class="colleact1">-->
    <!--<div>-->
    <!--<span class="scStyle cure"></span>-->
    <!--<a>收 藏</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="like1">-->
    <!--<div>-->
    <!--<span class="likeStyle cure"></span>-->
    <!--<a>点赞</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="share2">-->
    <!--<div class="bshare-custom">-->
    <!--<a title="分享到" href="javascript:;" id="bshare-shareto" class="bshare-more"-->
    <!--style=" line-height: 24px; font-size: 12px;">-->
    <!--<span style="color: #ae0f29"><i class="icon-share shareRight"></i>分享</span>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
      <section id="content">
        <div class="content-wrap">
          <div class="container clearfix">
            <div class="col-md-8 noleftpadding">
              <div class="comment-box">
                <h3>内容简介</h3>
                <div>
                  <p></p>
                </div>
                <div class="title-block">
                  <h4>作者简介</h4>
                </div>
                <div>
                  <p></p>
                </div>
                <div class="title-block">
                  <h4>目录</h4>
                </div>
                <ul>
                  <li></li>
                </ul>
              </div>

            </div>
            <!-- Comment related
          ============================================= -->
            <div class="col-md-4 norightpadding">
              <div class="comment-related">
                <!--start 相关图书组件-->
                <h3>相关图书</h3>
                <ui_list_pic_04 namespace="bookdetail" modulename="relativebook"></ui_list_pic_04>
                <!--end 相关图书组件-->
              </div>
              </br>
              <!--start 历史记录组件-->
              <h3>您的历史记录</h3>
              <!--<ui_list_pic_04 namespace="bookdetail" modulename="historylist"></ui_list_pic_04>-->
              <!--end 历史记录组件-->
              <!--<div class="button button-border button-border-thin button-red" @click="deleteHistoryByUser">清空记录</div>-->
            </div>
          </div>
        </div>
      </section>
    <!---------------------------------页脚导航组件--------------------------->
    <footer_component></footer_component>
    <!-----------------footer----------------页脚导航组件--------------------------->
  </div>
</div>
</body>
</html>
