.main_news{
  min-height: 800px;
  width: 1200px;
  margin: 0 auto 48px auto;
  overflow: hidden;
  background: #fff;
}
.news_nav{
  border-bottom: 2px solid #da0b2d;
}
.main_news .news_nav{
  height: 52px;
  line-height: 52px;
  border-bottom: 2px solid #c50000;
  padding-left: 15px;
}
.mt18{
  margin-top: 0;
}
a{
  text-decoration: none;
  outline: none;
  color: #888888;
  text-decoration: none
}
