.main_zzfw{
  width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.main_zzfw .daohang{
  height: 52px;
  line-height: 52px;
  border-bottom: 2px solid #c50000;
  padding-left: 15px;
}
a{
  text-decoration: none;
  outline: none;
  color: #888888;
  text-decoration: none;
}
.zzfw_center{
  border: 1px solid #d7d7d7;
  width: 183px;
}
.zzfw_center .zzfw_center_name{
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #f8dee2;
  background: #ca0000;
}
.zzfw_center .zzfw_center_name i{
  background-position: -6px -457px;
  width: 20px;
  height: 22px;
}
.zzfw_center .zzfw_center_class{
  padding: 15px 0 20px 0;
  background: #fff;
}
.zzfw_center .zzfw_center_class p.bg_on{
  background: url(../img/bg_007.png) no-repeat;
}
.zzfw_center .zzfw_center_class p{
  line-height: 45px;
  padding-left: 42px;
}
.zzfw_center .zzfw_center_class p a.on{
  color: #ca0000;
}
.zzfw_center .zzfw_center_class .tgfs_title a span.self_on{
  background-position: -38px -495px;
}
.zzfw_center .zzfw_center_class .tgfs_title a span.self{
  background-position: -6px -495px;
  width: 22px;
  height: 20px;
}
.zzfw_center .zzfw_center_name i, .zzfw_center .zzfw_center_class .tgfs_title a span, .zzfw_center .zzfw_center_class .zgqs_title a span, .zzfw_center .zzfw_center_class .tgsm_title a span, .zzfw_center .zzfw_center_class .cbflfg_title a span{
  background: url(../img/bg_10.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.zzfw_center .zzfw_center_class p a{
  color: #656260;
}
.zzfw_container_right{
  padding: 35px 22px;
  background: #fff;
  margin: 0 0 40px 27px;
  width: 836px;
}
.zzfw_name{
  background: url(../img/bg_004.png) repeat-x scroll center center;
}
.zzfw_name span{
  background: #fff;
}
.bm_con{
  text-align: left;
}
.bm_list{
  position: relative;
  margin-right: 20px;
  width: 135px;
  text-align: center;
  display: inline-block;
}
.bm_name{
  line-height: 45px;
  font-size: 16px;
}
.scoped_line{
  display: inline-block;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bm_name_jj{
  position: absolute;
  left: 145px;
  top: 10px;
  border: 1px solid red;
  padding: 10px 5px;
  z-index: 10;
  width: 210px;
  background-color: #fff;
  text-align: left;
  display: none;
}
.scoped_tg_back{
  float: right;
  padding: 10px;
  color: red;
  font-size: 14px;
  cursor: pointer;
}
zzfw_container_left{
  margin:36px 0 0 50px;
}
.bm_name_jj{
  margin-bottom:15px;
}
.inEditRoom{
  width: 100%;overflow: hidden;
}
.zzfw_container{
  margin: 36px 0px 0px 50px;
}
.goContribute{
  overflow: hidden;
  margin-top: -30px;
}
.tgfs_con{
  border-bottom: 1px solid #e5e5e5;
}
.tgfs_con p a.qtg{
  background: #ca0000;
}
.bm_name_jj{
  position: absolute;
  left: 145px;
  top: 10px;
  border: 1px solid red;
  padding: 10px 5px;
  z-index: 10;
  width: 210px;
  background-color: #fff;
  text-align: left;
  display: none;
}
.bm_name a:hover{
  color: #ca0000;
  font-weight: bold;
}
