.all_class_detail {
  display: block;
  padding-top: 0;
  background: #fff;
  width: 222px;
  position: absolute;
  top: 41px;
  left: 0;
  box-shadow: 0 0 8px #e7e7e7;
  z-index: 9;

  padding-top: 18px;
  background: #fff;
  width: 222px;
  position: absolute;
  top: 41px;
  left: 0;
  box-shadow: 0 0 8px #e7e7e7;
  display: block;
  z-index: 9;
}

.components_header_skin .header_top3 .open:after {
  background: none;
}
