/*
 * 装公共页面的皮肤样式 比如：头部
 * Created by song 2018/1/15
 */


/********************** start 头部组件 ************************/

.components_header_skin {
  font-family: 'Microsoft Yahei', '微软雅黑', '\5FAE\8F6F\96C5\9ED1', '宋体';
  font-size: 12px;
  color: #888888;
}

.components_header_skin a {
  text-decoration: none;
  outline: none;
  color: #888888;
}

.components_header_skin input {
  outline: none;
}

.components_header_skin .header_top1 {
  font-size: 12px;
  background-color: #ececec;
  border-bottom-style: solid;
  border-bottom-color: #d8d8d8;
}

.components_header_skin .header_top1 .member .loginImg {
  background: url(../img/bg_001.png) no-repeat;
  color: #c50000;
}

.components_header_skin .header_top1 .download .downloadApp {
  background: url(../img/bg_001.png) no-repeat;
}

.components_header_skin .header_top2 {
  background-color: #fff;
}

.components_header_skin .header_top2 .logo {
  background: url(../img/logo.jpg) no-repeat;
}

.components_header_skin .header_top2 .myshop {
  background: url(../img/bg_001.png) no-repeat;
  font-size: 14px;
}

.components_header_skin .header_top2 .myshop .cartIcon {
  cursor: pointer;
  color: #525252;
}

.components_header_skin .header_top2 .myshop .cartIcon span {
  background-color: #ae0f29;
  font-size: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.components_header_skin .header_top2 .suishouji {
  cursor: pointer;
  color: #525252;
  background: url(../img/bg_001.png) no-repeat;
}

.components_header_skin .header_top2 .highsearh {
  color: #3b3b3b;
  font-size: 14px;
  cursor: pointer;
}

.components_header_skin .header_top2 .searchBox {
  border-style: solid;
  border-color: #ca0000;
}

.components_header_skin .header_top2 .searchBox .searchBtn {
  font-size: 16px;
  background-color: #c50000;
  color: #fff;
  cursor: pointer;
  background-image: none;
}

.components_header_skin .header_top2 .searchBox .searchText {
  color: #767676;
  background: url(../img/search.png) no-repeat left center;
}

.components_header_skin .header_top2 .hotWordCon .info {
  color: #787878;
}

.components_header_skin .header_top3 {
  background-color: #515151;
}

.components_header_skin .header_top3 .allCata {
  border-right-style: solid;
  border-right-color: #908f8f;
  color: #fff;
  font-size: 16px;
}

.components_header_skin .header_top3 .allCata .allCataBg {
  background: url(../img/bg_001.png) no-repeat;
}

.components_header_skin .header_top3 .nav a {
  font-size: 16px;
  color: #fff;
}

.components_header_skin .header_top3 .nav a:hover {
  background-color: #c50000;
}

.components_header_skin .header_top3 .nav .on {
  background-color: #c50000;
}
.components_header_skin .header_top3 .off:after{
  content: '';
  position: absolute;
  top: 32%;
  right: 18px;
  width: 17px;
  height: 10px;
  background: url(../img/shang.png) no-repeat;
}
.components_header_skin .header_top3 .open:after{
  top: 18px;
  content: ' ';
  position: absolute;
  top: 41%;
  right: 18px;
  width: 17px;
  height: 10px;
  background: url(../img/xia.png) no-repeat;
}
.components_header_skin .two_title span:last-child{
  visibility: hidden;
}
.components_header_skin .showAll{
  display: none;
}
.components_header_skin .expend{
  height: 48px;
}
.all_class_detail{
  padding-top: 18px;
  background: #fff;
  width: 222px;
  position: absolute;
  top: 41px;
  left: 0px;
  display: none;
  box-shadow: 0px 0px 8px #e7e7e7;
  z-index: 9;
}
.all_class_detail dl{
  padding: 5.88px 17px;
}
.all_class_detail dl:nth-child(even){
  background: #f5f5f5;
  padding: 5.5px 17px;
}
.all_class_detail .one_title{
  color: #545454;
}
.components_header_skin a{
  text-decoration: none;
  outline: none;
}
.f14{
  font-size: 14px;
}
.all_class_detail dd{
  line-height: 22px;
}
.all_class_detail .two_title a{
  color: #9a9a9a;
}
.all_class_detail dd span{
  padding: 0px 8px;
}
.header_top3 .wrap{
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.cl{
  clear: both;
}
body{
  font-family: 'Microsoft Yahei','微软雅黑','\5FAE\8F6F\96C5\9ED1','宋体';
  font-size: 12px;
  color: #888888;
  background: url(../img/bg_1.png) repeat;
}
.pl20{
  padding-left: 20px;
}
.color_9b9{
  color: #9b9b9b;
}
.line-h35{
  line-height: 35px;
}
.ml12{
  margin-left: 12px;
}
.mt18{
  margin-top: 18px;
}
.color_9b9{
  color: #9b9b9b;
}
.color_626{
  color: #626262;
}
.pb25{
  padding-bottom: 25px;
}
.pr12{
  padding-right: 12px;
}
.pl12{
  padding-left: 12px;
}
.pt25{
  padding-top: 25px;
}
.mb10{
  margin-bottom: 10px;
}
.color_424{
  color: #424242;
}
.color_fff{
  color: #fff;
}
.line-h35{
  line-height: 35px;
}
.pr15{
  padding-right: 15px;
}
.pl15{
  padding-left: 15px;
}
.color_7e7{
  color: #7e7e7e;
}
.f18{
  font-size: 18px;
}
.mb15{
  margin-bottom: 15px;
}
.mt15{
  margin-top: 15px;
}
.pb50{
  padding-bottom: 50px;
}
.pr30{
  padding-right: 30px;
}
.pl30{
  padding-left: 30px;
}
.pt15{
  padding-top: 15px;
}
.f20{
  font-size: 20px;
}
.pb10{
  padding-bottom: 10px;
}
.color_aba{
  color: #ababab
}
.pt10{
  padding-top: 10px;
}
.mr20{
  margin-right: 20px;
}
.ml20{
  margin-left: 20px;
}
.color_737{
  color: #737373;
}
.line-h24{
  line-height: 24px;
}
.pt20{
  padding-top: 20px;
}
.mr05{
  margin-right: 5px;
}
.color_c50{
  color: #c50000;
}
.pr10{
  padding-right: 10px;
}
.pb20{
  padding-bottom: 20px;
}
.pr30{
  padding-right: 30px;
}
.pl30{
  padding-left: 30px;
}
.pt15{
  padding-top: 15px;
}
.f20{
  font-size: 20px;
}
.pb10{
  padding-bottom: 10px;
}
.color_737{
  color: #737373;
}
.f14{
  font-size: 14px;
}
.line-h24{
  line-height: 24px;
}
.pb25{
  padding-bottom: 25px;
}
.pt20{
  padding-top: 20px;
}
