.header .header_top3{
  height: 41px;
  line-height: 41px;
  background-color: #515151;
}
.header_top3 .wrap{
  position: relative;
}
.wrap{
  width: 1200px;
  margin: 0 auto;
}
.header .header_top3 .all_class{
  width: 222px;
  border-right: 1px solid #908f8f;
  position: relative;
  cursor: pointer;
}
.header .header_top3 .all_class_bg{
  background-position: -2px -85px;
  height: 25px;
  /*background: url(../img/bg_001.png) no-repeat;*/
}
.header .header_top3 .open:after{
  top: 18px;
  content: ' ';
  position: absolute;
  top: 41%;
  right: 18px;
  width: 17px;
  height: 10px;
  background: url(../img/xia.png) no-repeat;
}
.header .header_top3 .off:after{
  content: '';
  position: absolute;
  top: 32%;
  right: 18px;
  width: 17px;
  height: 10px;
  background: url(../img/shang.png) no-repeat;
}
.all_class_detail dl{
  padding: 5.88px 17px;
}
.all_class_detail dl:nth-child(even){
  background: #f5f5f5;
  padding: 5.5px 17px;
}
.nav{
  width: 855px;
  margin: 0 auto;
}
.nav a{
  width: 155px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  display: inline-block;
}
/********************** start 头部 ************************/
.cartIcon{
  position: relative;
  cursor: pointer;
}
.cartIcon span{
  display: block;
  position: absolute;
  top: -7px;
  left: auto;
  right: -16px;
  font-size: 10px;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  background-color: #AE0F29;
  border-radius: 50%;
}
/********************** end 头部 ************************/
/********************* start 左侧导航 *******************/
.all_class_detail{
  display: block;
  padding-top: 0px;
  background: #fff;
  width: 222px;
  position: absolute;
  top: 41px;
  left: 0px;
  box-shadow: 0px 0px 8px #e7e7e7;
  z-index: 9;
}
.header .two_title span:last-child{
  visibility: hidden;
}
.jianjie{
  width: 455px;
  font-size: 10px;
  line-height: 18px;
  padding-top: 24px;
  overflow: hidden;
}
/********************* end 左侧导航 *******************/
/*********************star 推荐************************/
.main{
  overflow: hidden;
}
.pic_info_list_12{
  float: left;
  width: 460px;
  height: 100%
}
.pic_info_list_12 .l_big{
  width: 100%
}
.pic_info_list_12 .swiper-a{
  width: 186px;
  height: 248px;
}
.pic_info_list_12 .swiper-img{
  float: left;
  text-align: center;
  line-height: 230px;
}
.pic_info_list_12 .swiper-wrapper .more{
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #c50000;
  font-size: 10px;
}
.star_pic_info_13{
  float: right;height: 100%;width: 200px;
}
.star_pic_info_13 .item{
  margin-top: 10px
}
.star_pic_info_13 .img{
  line-height:90px;text-align:center;cursor: pointer;
}
.star_pic_info_13 .text{
  float: right;width: 120px;height: 100%;
}
.star_pic_info_13 .author{
  width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.star_pic_info_13 .price{
  color:#dd2a48
}
.book_jdt{
  border: 1px solid #e0dfde;
  width: 695px;
  padding: 20px 20px 10px 20px;
  overflow: hidden;
  background: #f4f7f9;
  margin-bottom: 34px;
  height: 425px;
  margin-left: 223px;
  margin-top: 30px;
}
.book_jdt .id_flash{
  height: 100%
}
.book_jdt .id_flash .top{
  clear: both;
  position: relative;height: 100%;overflow: hidden
}
.pic_info_list_12{
  float: left;
  width: 460px;
  height: 100%;
}
.book_jdt .id_flash a{
  color: #000;
  overflow: hidden;
  text-decoration: none;
}
/*********************end 推荐*********************/
