.header .header_top3{
  height: 41px;
  line-height: 41px;
  background-color: #515151;
}
.header_top3 .threewrap{
  position: relative;
}
.threewrap{
  width: 1200px;
  margin: 0 auto;
}
.header .header_top3 .all_class{
  width: 222px;
  border-right: 1px solid #908f8f;
  position: relative;
  cursor: pointer;
}
.header .header_top3 .all_class_bg{
  background-position: -2px -85px;
  height: 25px;
  /*background: url(../img/bg_001.png) no-repeat;*/
}
.header .header_top3 .open:after{
  top: 18px;
  content: ' ';
  position: absolute;
  top: 41%;
  right: 18px;
  width: 17px;
  height: 10px;
  background: url(../img/xia.png) no-repeat;
}
.header .header_top3 .off:after{
  content: '';
  position: absolute;
  top: 32%;
  right: 18px;
  width: 17px;
  height: 10px;
  background: url(../img/shang.png) no-repeat;
}
.all_class_detail dl{
  padding: 5.88px 17px;
}
.all_class_detail dl:nth-child(even){
  background: #f5f5f5;
  padding: 5.5px 17px;
}
.nav{
  width: 855px;
  margin: 0 auto;
}
.nav a{
  width: 155px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  display: inline-block;
}
/********************** start 头部 ************************/
.cartIcon{
  position: relative;
  cursor: pointer;
}
.cartIcon span{
  display: block;
  position: absolute;
  top: -7px;
  left: auto;
  right: -16px;
  font-size: 10px;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  background-color: #AE0F29;
  border-radius: 50%;
}
/********************** end 头部 ************************/
/********************* start 左侧导航 *******************/
.all_class_detail{
  display: block;
  padding-top: 0px;
  background: #fff;
  width: 222px;
  position: absolute;
  top: 41px;
  left: 0px;
  box-shadow: 0px 0px 8px #e7e7e7;
  z-index: 9;

  padding-top: 18px;
  background: #fff;
  width: 222px;
  position: absolute;
  top: 41px;
  left: 0;
  box-shadow: 0 0 8px #e7e7e7;
  display: block;
  z-index: 9;
}
.header .two_title span:last-child{
  visibility: hidden;
}
.jianjie{
  width: 455px;
  font-size: 10px;
  line-height: 18px;
  padding-top: 24px;
  overflow: hidden;
}
/********************* end 左侧导航 *******************/
/*********************star 推荐************************/
.main{
  overflow: hidden;
}
.pic_info_list_12{
  float: left;
  width: 460px;
  height: 100%
}
.pic_info_list_12 .l_big{
  width: 100%
}
.pic_info_list_12 .swiper-a{
  width: 186px;
  height: 248px;
}
.pic_info_list_12 .swiper-img{
  float: left;
  text-align: center;
  line-height: 230px;
}
.pic_info_list_12 .swiper-wrapper .more{
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #c50000;
  font-size: 10px;
}
.star_pic_info_13{
  float: right;height: 100%;width: 200px;
}
.star_pic_info_13 .item{
  margin-top: 10px
}
.star_pic_info_13 .img{
  line-height:90px;text-align:center;cursor: pointer;
}
.star_pic_info_13 .text{
  float: right;width: 120px;height: 100%;
}
.star_pic_info_13 .author{
  width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
.star_pic_info_13 .price{
  color:#dd2a48
}
.book_jdt{
  border: 1px solid #e0dfde;
  width: 695px;
  padding: 20px 20px 10px 20px;
  overflow: hidden;
  background: #f4f7f9;
  margin-bottom: 34px;
  height: 425px;
  margin-left: 223px;
  margin-top: 30px;
}
.book_jdt .id_flash{
  height: 100%
}
.book_jdt .id_flash .top{
  clear: both;
  position: relative;height: 100%;overflow: hidden
}
.pic_info_list_12{
  float: left;
  width: 460px;
  height: 100%;
}
.book_jdt .id_flash a{
  color: #000;
  overflow: hidden;
  text-decoration: none;
}
.main{
  width: 1200px;
  margin: 0 auto;
}
.book_jdt dl.l_big dd p.title{
  padding-top: 20px;
}
.book_jdt dl.l_big dd{
  width: 250px;
  overflow: hidden;
}
.book_jdt dl.l_big{
  overflow: hidden;
}
.book_jdt dl.l_big dd p.title a{
  color: #494949;
}
.book_jdt dl.l_big dd p.xing{
  margin: 2px 0 5px 0;
}
.book_jdt dl.l_big dd p.author{
  color: #727272;
  line-height: 23px;
  margin-top: 15px;
}
.book_jdt dl.l_big dd p.banquan, .book_jdt dl.l_big dd p.chuban{
  color: #8d8c8c;
  line-height: 25px;
}
.book_jdt dl.l_big dd p.price{
  color: #494949;
  margin: 3px 0 15px;
}
.book_jdt dl.l_big dd p.reader{
  line-height: 28px;
  margin-top: 25px;
}
.book_jdt dl.l_big dd p.price span{
  color: #9c9595;
  text-decoration: line-through;
  padding-left: 8px;
}
.book_jdt dl.l_big dd p.reader a{
  padding: 6px 15px;
  color: #fff;
  background: #c50000;
}
/*********************end 推荐*********************/

/***和首页一样的组件样式****/
.hot_book .hot_book_list dl dd p.author{
  color: #727272;
  line-height: 23px;
}
.hot_book .hot_book_list dl dd p.price span{
  color: #9c9595;
  text-decoration: line-through;
}
.hot_book .hot_book_list dl dd p.banquan, .hot_book .hot_book_list dl dd p.chuban{
  color: #8d8c8c;
  line-height: 23px;
}
.hot_book .hot_book_list dl dd p.other .share{
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  background-position: 0 90px;
}
.hot_book .hot_book_list dl dd p.other .shoucang, .hot_book .hot_book_list dl dd p.other .shoucang_cg, .hot_book .hot_book_list dl dd p.other .share{
  background-image: url(../img/bg_005.png);
  display: inline-block;
  height: 28px;
  width: 38px;
  text-indent: -9999px;
}
.hot_book .hot_book_list dl dd p.other .goumai{
  background: #c50000;
  display: inline-block;
  width: 52px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.hot_book .hot_book_list dl dd p.other .chakan{
  background: #515151;
  display: inline-block;
  width: 52px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.hot_book .hot_book_list dl dd p.price{
  color: #494949;
  margin: 3px 0 15px;
}
.hot_book .hot_book_list dl dd p.other{
  line-height: 28px;
}
.hot_book{
  border-top: 2px solid #da0b2d;
  padding-left: 20px;
  width: 940px;
  overflow: hidden;
  margin-bottom: 20px;
}
.hot_book .hot_book_list dl{
  background-color: #F3F3F3;
  width: 458px;
  height: 240px;
}
.mb35{
  margin-bottom: 35px;
}
a img{
  border: 0;
}
.hot_book .hot_book_list dl dd{
  width: 270px;
  float: left;
  padding-left: 25px;
}
.hot_book .hot_book_list dl dd p.title{
  padding-top: 20px;
}
.f16{
  font-size: 16px;
}
.hot_book .hot_book_list dl dd p.title a{
  color: #494949;
}
a{
  text-decoration: none;
  outline: none;
  color: #888888;
  text-decoration: none;
}
.f16{
  font-size: 16px;
}
.hot_book .hot_book_list dl dd p.xing{
  margin: 2px 0 5px 0;
}
.hot_book .hot_book_list dl{
  background-color: #F3F3F3;
  width: 458px;
  height: 240px;
}
.mb35{
  margin-bottom: 35px;
}
.sale_top, .bianji, .xgzx{
  background: #fff;
}
.mt30{
  margin-top: 30px;
}
.sale_top .sale_top_title, .bianji .bianji_title{
  height: 29px;
  line-height: 29px;
  width: 222px;
  background: #c50000;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.f16{
  font-size: 16px;
}
.sale_top_list{
  border: 2px solid #f8f8f8;
  border-top: none;
  width: 218px;
  height: 427px;
}
.sale_top .sale_top_con{
  padding: 23px 10px 30px 15px;
  border-bottom: 2px solid #f8f8f8;
  margin: 0 7px 0px 10px;
  overflow: hidden;
  position: relative;
}
.sale_top .sale_top_con dd.jiaobiao{
  position: absolute;
  top: 15px;
  left: 8px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  background: #f9ab3c;
}
.pl15{
  padding-left: 15px;
}
.sale_top .sale_top_con dd p.title{
  color: #535353;
  height: 30px;
  line-height: 30px;
}
.sale_top .sale_top_con dd p.title a{
  color: #535353;
}
.sale_top .sale_top_con dd p.hitcount, .sale_top_con dd p.price{
  color: #9f9f9f;
}
.pt15{
  padding-top: 15px;
}
.sale_top .sale_top_con{
  padding: 23px 10px 30px 15px;
  border-bottom: 2px solid #f8f8f8;
  margin: 0 7px 0px 10px;
  overflow: hidden;
  position: relative;
}
.sale_top .sale_top_con dd.jiaobiao{
  position: absolute;
  top: 15px;
  left: 8px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  background: #f9ab3c;
}
.pl15{
  padding-left: 15px;
}
.sale_top .sale_top_con dd p.title{
  color: #535353;
  height: 30px;
  line-height: 30px;
}
.sale_top .sale_top_con dd p.title a{
  color: #535353;
}
.hot_sell_text{
  display: inline-block;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pt15{
  padding-top: 15px;
}
.sale_top .sale_top_con{
  padding: 23px 10px 30px 15px;
  border-bottom: 2px solid #f8f8f8;
  margin: 0 7px 0px 10px;
  overflow: hidden;
  position: relative;
}
.sale_top .sale_top_con dd.jiaobiao{
  position: absolute;
  top: 15px;
  left: 8px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  background: #f9ab3c;
}
.mt42{
  /*margin-top: 53px;*/
}
.bianji .bianji_list{
  text-align: center;
  border: 2px solid #f8f8f8;
  border-top: none;
  width: 218px;
}
.bianji .bianji_list .bianji_con{
   border-bottom: 1px dotted #33373e;
  padding: 20px;
  overflow: hidden;
}
.bianji .bianji_list .bianji_con dt{
  padding: 0 0 15px 0px;
}
.bianji .bianji_list .bianji_con dt img{
  border-radius: 50%;
  width: 98px;
  height: 98px;
}
.bianji .bianji_list .bianji_con dd.author{
  color: #2c3138;
  padding-bottom: 10px;
  background: url(../img/bg_003.png) repeat-x center 30%;
}
.bianji .bianji_list .bianji_con dd.author a{
  color: #2c3138;
  padding: 0 7px;
  background: #fff;
}
.bianji .bianji_list .bianji_con dd.zhaiyao{
  color: #7a7a7a;
  line-height: 21px;
  text-align: left;
}
.bianji .bianji_list .bianji_con dd.mail{
  color: #2c3138;
  text-align: left;
  padding-top: 10px;
}
.header .header_top1 .login_img, .header .header_top1 .download_app, .header .header_top3 .all_class_bg, .search .myshop, .search .ssbj, .index_jpts .index_jpts_name, .index_jpts .index_jpts_t dd p.shoucang, .hot_book .hot_book_name, .zzzs .zzzs_name{
  background: url(../img/bg_001.png) no-repeat;
}
.hot_book .hot_book_name{
  padding: 0px 0 0px 30px;
  background-position: -2px -132px;
  margin: 15px 0 20px 0;
}
.color_7e7{
  color: #7e7e7e;
}
.f18{
  font-size: 18px;
}
.f12{
  font-size: 12px;
}
pt20{
  padding-top: 20px;
}
.color_727{
  color: #727272;
}
.ui_list_pic_06_skin .titleHead{
  height: 29px;
  line-height: 29px;
  width: 222px;
  text-align: center;
}
.ui_list_pic_06_skin .titleHead{
  color: #fff;
  background: #c50000;
  font-weight: normal;
  font-size: 16px;
}
.ui_list_pic_06_skin .listWrapper{
  border-style: solid;
  border-color: #f8f8f8;
  background: #fff;
  /*height: 552px!important;*/
  height: auto;
}
.ui_list_pic_06_skin .listCon{
  border-bottom-style: solid;
  border-bottom-color: #f8f8f8;
}
.ui_list_pic_06 .listCon .listDt{
  float: left;
}
.ui_list_pic_06_skin a{
  text-decoration: none;
  color: #535353;
}
.ui_list_pic_06_skin .listCon .jiaobiao{
  color: #fff;
  background: #f9ab3c;
}
.ui_list_pic_06_skin .listCon .listDd{
  color: #9f9f9f;
}
.ui_list_pic_06_skin .listCon .title{
  font-size: 14px;
  color: #535353;
}
.ui_list_pic_06_skin .listCon .hitcount{
  color: #9f9f9f;
}
.ui_list_pic_06_skin .listCon .price{
  color: #9f9f9f;
}
.components_header_skin .header_top3 .open:after{
  background: none;
}
