/********************** start 头部 ************************/
/* 头部样式作为项目公共组件 放在skin/common.css */
/********************** end 头部 ************************/
/************start 头部轮播图**************/
.ui_swiper_04_pic_nowords .swiper-container{
  height: 200px;
}
.ui_swiper_04_pic_nowords .swiper-wrapper{
  height: 180px;
}
.ui_swiper_04_pic_nowords .testi-image{
  text-align: center;
}
/************end 头部轮播图**************/
