.register_02_register {
  border-style: solid;
  border-color: #d9d9d9;
  background-color: #fff;
}
.register_02_register_titlebox { 
  border-bottom-style: solid;
  border-bottom-color: #bfbfbf;
}
.register_02_register_title {
  border-bottom-style: solid;
  border-bottom-color: #c50000;
  color: #c50000;
  font-size: 16px;
}
.register_02_register_form {
}
.register_02_register_form_box {
}
.register_02_register_form_box_usernamebox {
}
.register_02_register_form_box_usernamebox_icon {
  font-style: normal;
  background-position: -5px -142px;
  /* background: url(../img/bg_10.png) no-repeat; */
}
.register_02_register_form_box_usernamebox_label {
  color: #727272;
  font-size: 14px;
}
.register_02_register_form_box_usernamebox_input {
}

.register_02_register_form_box_passwordbox {
}
.register_02_register_form_box_passwordbox_icon {
  background-position: -8px -324px;
  /* background: url(../img/bg_10.png) no-repeat; */
  font-style: normal;
}
.register_02_register_form_box_passwordbox_label {
  color: #727272;
  font-size: 14px;
}
.register_02_register_form_box_passwordbox_input {
}

.register_02_register_form_box_confirm-password-box {
}
.register_02_register_form_box_confirm-password-box_icon {
  background-position: -8px -354px;
  /* background: url(../img/bg_10.png) no-repeat; */
  font-style: normal;
}
.register_02_register_form_box_confirm-password-box_label {
  color: #727272;
  font-size: 14px;
}
.register_02_register_form_box_confirm-password-box_input {
}
.register_02_register_form_box_validate-code-box {
}
.register_02_register_form_box_validate-code-box_icon {
  /* background: url(../img/bg_10.png) no-repeat; */
  background-position: -7px -176px;
  font-style: normal;
}
.register_02_register_form_box_validate-code-box_label {
  color: #727272;
  font-size: 14px;
}
.register_02_register_form_box_validate-code-box_input {
}
.register_02_register_form_box_validate-code-box_change-picture {
  font-size: 12px;
  text-decoration: none;
}
.register_02_register_form_box_validate-code-box_change-icon {
  background-position: -5px -380px;
  /* background: url(../img/bg_10.png) no-repeat; */
  font-style: normal;
}
.register_02_register_next-box {
}
.register_02_register_next-box_button {
  cursor: pointer;
  background-color: #c50000;
  color: #fff;
  font-size: 14px;
  outline: none;
}
.register_02_bind {
  border-style: solid;
  border-color: #d9d9d9;
  background-color: #fff;
}
.register_02_bind_nav-box {
  border-bottom-style: solid;
  border-bottom-color: #bfbfbf;
  color: #515151;
}
.register_02_bind_nav-box_title {
  cursor: pointer;
  font-size: 16px;
}
.register_02_bind_nav-box_bind--on {
  color: #c50000;
  border-bottom-style: solid;
  border-bottom-color: #c50000;
}
.register_02_bind_content {
}
.register_02_bind_content_mail,
.register_02_bind_content_mobile {
}
.register_02_bind_content_mail_input-box,
.register_02_bind_content_mobile_input-box {
}
.register_02_bind_content_mail_input-box_icon {
  background-position: -8px -294px;
  /* background: url(../img/bg_10.png) no-repeat; */
  font-style: normal;
}
.register_02_bind_content_mail_input-box_label {
  color: #727272;
  font-size: 14px;
}
.register_02_bind_content_mail_input-box_input {
}
.register_02_bind_content_mail_input-box_button {
}
.register_02_bind_content_mobile_input-box_mobile-icon {
  background-position: -8px -264px;
  /* background: url(../img/bg_10.png) no-repeat; */
  font-style: normal;
}
.register_02_bind_content_mobile_input-box_mobile-label {
  color: #727272;
  font-size: 14px;
}
.register_02_bind_content_mobile_input-box_mobile-input {
}
.register_02_bind_content_mobile_input-box_mobile-button {
}

.register_02_bind_content_mobile_input-box_validate-icon {
  background-position: -7px -176px;
  /* background: url(../img/bg_10.png) no-repeat; */
}
.register_02_bind_content_mobile_input-box_validate-label {
  color: #727272;
  font-size: 14px;
}
.register_02_bind_content_mobile_input-box_validate-input {
}
.register_02_bind_content_mobile_input-box_button {
}