.operationAnalysis {
    width: 660px;
    height: 450px;
    /*padding: 15px 30px;*/
    overflow: hidden;
}
.operationAnalysis .header .web_name {
	height: 24px;
	width: 110px;
	padding-left: 12px;
	font-size: 24px;
    line-height: 24px;
    color: #7e7e7e;
    //background: url("~/images/line01.png") left center no-repeat;
    background-size: 6px 24px;
}
.tab_name{
  color: #7e7e7e;
}
.operationAnalysis .tab_box {
    /*float: right;*/
  margin-left: 15px;
    width: 448px;
}
.operationAnalysis .tab_box .tab {
    float: left;
    margin-right: 5px;
    font-size: 14px;
    color: #FFF;
}
.operationAnalysis .tab_box .tab .tab_name {
    height: 40px;
    width: 50px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 30px;
}
.operationAnalysis .tab_box .tab .big {
	width: 75px;
}
.operationAnalysis .tab_box .tab .color {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-top: 10px;
}
.operationAnalysis .tab_box .tab .color1 {
    background: #36a8fb;
}
.operationAnalysis .tab_box .tab .color2 {
    background: #ce6fff;
}
.operationAnalysis .tab_box .tab .color3 {
    background: #9fd6fe;
}
.operationAnalysis .tab_box .tab .color4 {
    background: #ffc466;
}
.operationAnalysis .tab_box .tab .color5 {
    background: #ffa8ff;
}
.operationAnalysis .tab_box .tab .color6 {
    background: #00f7f0;
}
.operationAnalysis .echarts_box .chart_box {
    height: 220px;
    width: 320px;
}
.operationAnalysis .echarts_box .chart_box .chart_dom {
    height: 220px;
    width: 340px;
}
/****浮动样式开始****/
.operationAnalysis .fl {
    float: left;
}
.operationAnalysis .fr {
    float: right;
}
/****浮动样式结束****/
/**** 清除浮动开始****/
.operationAnalysis .clearfloat {
    zoom: 1;
}
.operationAnalysis .clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
/**** 清除浮动结束****/
