html{font-size:100px;}
body{min-width:320px;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
div,a,p,header,article,section{-webkit-box-sizing:border-box; /* Safari */-moz-box-sizing:border-box; /* Firefox */box-sizing:border-box;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;}
input,button,select,textarea,a{outline:none;}
textarea{resize:none;}

#gwcsize{width:0.23rem;height:0.23rem;display:none;position:absolute;top:-0.08rem;right:-0.03rem;background-color:red;color:#fff;border-radius:50%;-moz-border-radius: 50%;-webkit-border-radius:50%;text-align:center;font-size:0.20rem;line-height:0.23rem;}
html,body{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
a,img{-webkit-touch-callout:none;}
table{border-collapse:collapse;border-spacing:0;border:0;}
img{border:0;display:block;}
ol,ul{list-style:none;}
h1,h2,h3,h4{font-size:100%;}
i,em,strong{font-style:normal;font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
a{text-decoration:none;}
.clearfix:after{content:'';display:block;clear:both;height:0;}
.clearfix{zoom:1;}
.container{max-width:750px;min-width:320px;margin:auto;position:relative;}

/* 头部搜索 */
.head-seach-box,.head-seach-null{width:7.5rem;padding:.14rem 0;overflow:hidden;height:.88rem;background-color:#ffffff;}
.head-seach-box{display:block;}
.head-logo{float:left;width:.44rem;height:.56rem;background-image:url(../img/head-logo.png);margin-left:.2rem;background-size:.44rem .56rem;}
.head-seach-txt-box{float:left;width:5rem;height:.6rem;background:#EEF0F3 url(../../images/base/head-seach-icon.png) no-repeat .2rem center;border-radius:.1rem;border:0;margin-left:.32rem;font-size:.26rem;line-height:.6rem;padding-left:.6rem;background-size:.32rem;color:#9DA7B6;}
.head-car{float:left;width:.48rem;height:.48rem;background-image:url(../img/head-car.png);display:inline-block;margin:.1rem 0 0 .2rem;background-size:.48rem;}

/* 悬浮导航 */
.fixed-nav-box{width:7.5rem;height:.72rem;background-color:#ffffff;position:fixed;top:0;z-index:1;}
.fixed-nav-box a{width:1.8rem;height:.72rem;display:inline-block;color:#9DA7B6;font-size:.28rem;line-height:.72rem;padding-left:.86rem;}
.fixed-nav-01{background:url(../../images/page/index/nav01-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-02{background:url(../../images/page/index/nav02-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-03{background:url(../../images/page/index/nav03-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-04{background:url(../../images/page/index/nav04-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed01-hover{color:#C92E36;background:url(../../images/page/index/nav01-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed02-hover{color:#C92E36;background:url(../../images/page/index/nav02-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed03-hover{color:#C92E36;background:url(../../images/page/index/nav03-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed04-hover{color:#C92E36;background:url(../../images/page/index/nav04-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.head-nav-box .fixed-hover{color:#C92E36;}

/* 底部 */
.bottom-nav-null{width:7.5rem;height:1rem;border-top:.1rem solid #F5F7FA;}

/* 榜单 畅销榜 分类列表 搜索结果 */
.prize-list-item{width:7.1rem;overflow: hidden;margin:auto;border-bottom:solid 1px #DDDFE6;display:block;}
.prize-list-item img{width:1.36rem;height:1.96rem;margin-top:.24rem;float:left;}
.prize-list-right{margin:.32rem 0 0 .2rem;width:5.36rem;float:left;}
.prize-list-right-title{width:5.36rem;font-size:.32rem;color:#2E3D4C;}
.prize-list-author{color:#9DA7B6;font-size:.24rem;margin:.12rem 0;}
.prize-list-summary{color:#717B8B;font-size:.28rem;width:5.36rem;height:.8rem;overflow:hidden;margin-bottom: .3rem;}
.prize-more{height:1rem;color:#717B8B;display:block;font-size:.28rem;text-align:center;line-height:1rem;background:url(../../images/page/prize/more-icon.png) no-repeat 4.34rem center;background-size:.3rem;}
.prize-list-right-title i{float:right;width:.28rem;height:.4rem;margin-top:.03rem;}
.num-01{background-image:url(../../images/page/prize/num-01.png);background-size:.28rem .4rem;}
.num-02{background-image:url(../../images/page/prize/num-02.png);background-size:.28rem .4rem;}
.num-03{background-image:url(../../images/page/prize/num-03.png);background-size:.28rem .4rem;}
.prize-list-right-title span{font-size:.26rem;float:right;line-height:.48rem;color:#C92E36;}
.prize-list-right-title strong{text-decoration:line-through;color:#717B8B;margin-left:.1rem;}

/* 搜索页头部搜索 */
.head-null{height:.98rem;border-bottom:.1rem solid #F5F7FA;}
.head-seach-box{border-bottom:.1rem solid #F5F7FA;height:.98rem;}
.head-seach-txt-box{width:5.6rem;}
.cancel-btn{color:#2E3D4C;font-size:.28rem;line-height:.6rem;float:left;height:.6rem;margin-left:.2rem;}

/* 头部返回 */
.head-null{height:.88rem;border-bottom:.1rem solid #F5F7FA;}
.head-box{height:.88rem;position:fixed;top:0;width:7.5rem;background-color:#ffffff;border-bottom:.1rem solid #F5F7FA;}
.back-btn{position:absolute;width:.48rem;height:.48rem;background-image:url(../../images/page/selling/back-icon.png);background-size:.48rem;left:.3rem;top:.2rem;}
.tab-box{margin:auto;}
.tab-box a{color:#9DA7B6;font-size:.28rem;line-height:.88rem;display:inline-block;height:.8rem;position:relative;margin-right:1.4rem;}
.tab-box a:last-of-type{margin-right:0;}
.tab-box .tab-hover{color:#C92E36;}
.tab-hover i{width:.32rem;height:.06rem;background-color:#C92E36;display:inline-block;position:absolute;bottom:0;left:50%;margin-left:-.16rem;}


/*padding margin*/

.mt00 { margin-top: 0px; }
.mt01 { margin-top: 1px; }
.mt02 { margin-top: 2px; }
.mt04 { margin-top: 4px; }
.mt05 { margin-top: 5px; }
.mt06 { margin-top: 6px; }
.mt07 { margin-top: 7px; }
.mt08 { margin-top: 8px; }
.mt09 { margin-top: 9px; }
.mt10 { margin-top: 10px; }
.mt12 { margin-top: 12px; }
.mt15 { margin-top: 15px; }
.mt16 { margin-top: 16px; }
.mt17 { margin-top: 17px; }
.mt18 { margin-top: 18px; }
.mt19 { margin-top: 19px; }
.mt20 { margin-top: 20px; }
.mt22 { margin-top: 22px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt42 { margin-top: 53px; }
.mb00 { margin-bottom: 0px; }
.mb01 { margin-bottom: 1px; }
.mb02 { margin-bottom: 2px; }
.mb04 { margin-bottom: 4px; }
.mb05 { margin-bottom: 5px; }
.mb06 { margin-bottom: 6px; }
.mb07 { margin-bottom: 7px; }
.mb08 { margin-bottom: 8px; }
.mb09 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.mb12 { margin-bottom: 12px; }
.mb13 { margin-bottom: 13px; }
.mb14 { margin-bottom: 14px; }
.mb15 { margin-bottom: 15px; }
.mb19 { margin-bottom: 19px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb60 {margin-bottom:60px;}
.ml02 { margin-left: 2px; }
.ml03 { margin-left: 3px; }
.ml04 { margin-left: 4px; }
.ml05 { margin-left: 5px; }
.ml06 { margin-left: 6px; }
.ml07 { margin-left: 7px; }
.ml08 { margin-left: 8px; }
.ml10 { margin-left: 10px; }
.ml12 { margin-left: 12px; }
.ml14 { margin-left: 14px; }
.ml15 { margin-left: 15px; }
.ml16 { margin-left: 16px; }
.ml17 { margin-left: 17px; }
.ml18 { margin-left: 18px; }
.ml19 { margin-left: 19px; }
.ml20 { margin-left: 20px; }
.ml22 { margin-left: 22px; }
.ml23 { margin-left: 23px; }
.ml25 { margin-left: 25px; }
.ml28 { margin-left: 28px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.mr02 { margin-right: 2px; }
.mr04 { margin-right: 4px; }
.mr05 { margin-right: 5px; }
.mr06 { margin-right: 6px; }
.mr08 { margin-right: 8px; }
.mr10 { margin-right: 10px; }
.mr12 { margin-right: 12px; }
.mr14 { margin-right: 14px; }
.mr15 { margin-right: 15px; }
.mr18 {margin-right:18px;}
.mr20 { margin-right: 20px; }
.mr22 { margin-right: 22px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr42 { margin-right: 42px; }

.pt02 { padding-top: 2px; }
.pt03 { padding-top: 3px; }
.pt04 { padding-top: 4px; }
.pt05 { padding-top: 5px; }
.pt06 { padding-top: 6px; }
.pt07 { padding-top: 7px; }
.pt08 { padding-top: 8px; }
.pt10 { padding-top: 10px; }
.pt11 { padding-top: 11px; }
.pt12 { padding-top: 12px; }
.pt13 { padding-top: 13px; }
.pt14 { padding-top: 14px; }
.pt15 { padding-top: 15px; }
.pt16 { padding-top: 16px; }
.pt17 { padding-top: 17px; }
.pt18 { padding-top: 18px; }
.pt19 { padding-top: 19px; }
.pt20 { padding-top: 20px; }
.pt24 { padding-top: 24px; }
.pt25 { padding-top: 25px; }
.pt28 { padding-top: 28px; }
.pt30 { padding-top: 30px; }
.pt33 { padding-top: 33px; }
.pt35 { padding-top: 35px; }
.pt38 { padding-top: 38px; }
.pt44 { padding-top: 44px; }
.pt50 { padding-top: 50px; }
.pl01 { padding-left: 1px; }
.pl02 { padding-left: 2px; }
.pl03 { padding-left: 3px; }
.pl04 { padding-left: 4px; }
.pl05 { padding-left: 5px; }
.pl06 { padding-left: 6px; }
.pl07 { padding-left: 7px; }
.pl08 { padding-left: 8px; }
.pl09 { padding-left: 9px; }
.pl10 { padding-left: 10px; }
.pl11 { padding-left: 11px; }
.pl12 { padding-left: 12px; }
.pl13 { padding-left: 13px; }
.pl14 { padding-left: 14px; }
.pl15 { padding-left: 15px; }
.pl16 { padding-left: 16px; }
.pl18 { padding-left: 18px; }
.pl20 { padding-left: 20px; }
.pl22 { padding-left: 22px; }
.pl24 { padding-left: 24px; }
.pl25 { padding-left: 25px; }
.pl28 { padding-left: 28px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }
.pr01 { padding-right: 1px; }
.pr02 { padding-right: 2px; }
.pr03 { padding-right: 3px; }
.pr04 { padding-right: 4px; }
.pr05 { padding-right: 5px; }
.pr06 { padding-right: 6px; }
.pr07 { padding-right: 7px; }
.pr08 { padding-right: 8px; }
.pr09 { padding-right: 9px; }
.pr10 { padding-right: 10px; }
.pr12 { padding-right: 12px; }
.pr14 { padding-right: 14px; }
.pr15 { padding-right: 15px; }
.pr16 { padding-right: 16px; }
.pr17 { padding-right: 17px; }
.pr18 { padding-right: 18px; }
.pr20 { padding-right: 20px; }
.pr22 { padding-right: 22px; }
.pr24 { padding-right: 24px; }
.pr23 { padding-right: 23px; }
.pr25 { padding-right: 25px; }
.pr28 { padding-right: 28px; }
.pr30 { padding-right: 30px; }
.pr32 { padding-right: 32px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pr50 { padding-right: 50px; }
.pb01 { padding-bottom: 1px; }
.pb02 { padding-bottom: 2px; }
.pb03 { padding-bottom: 3px; }
.pb04 { padding-bottom: 4px; }
.pb05 { padding-bottom: 5px; }
.pb06 { padding-bottom: 6px; }
.pb07 { padding-bottom: 7px; }
.pb08 { padding-bottom: 8px; }
.pb10 { padding-bottom: 10px; }
.pb12 { padding-bottom: 12px; }
.pb13 { padding-bottom: 13px; }
.pb14 { padding-bottom: 12px; }
.pb15 { padding-bottom: 15px; }
.pb16 { padding-bottom: 16px; }
.pb17 { padding-bottom: 17px; }
.pb18 { padding-bottom: 18px; }
.pb19 { padding-bottom: 19px; }
.pb20 { padding-bottom: 20px; }
.pb22 { padding-bottom: 22px; }
.pb24 { padding-bottom: 24px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }


/* line-height */
.line-h14 { line-height: 14px; }
.line-h15 { line-height: 15px; }
.line-h16 { line-height: 16px; }
.line-h18 { line-height: 18px; }
.line-h20 { line-height: 20px; }
.line-h22 { line-height: 22px; }
.line-h25 { line-height: 25px; }
.line-h24 { line-height: 24px; }
.line-h26 { line-height: 26px; }
.line-h28 { line-height: 28px; }
.line-h30 { line-height: 30px; }
.line-h32 { line-height: 32px; }
.line-h35 { line-height: 35px; }


/*font-family*/
.f09 { font-size: 9px; }
.f10 { font-size: 10px; }
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f17 { font-size: 19px; }
.f18 { font-size: 18px; }
.f19 { font-size: 19px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
.f30 { font-size: 30px; }
.fn { font-weight: normal; }
.db { display: block; }
.dib-wrap { font-size: 0;/* 所有浏览器 */  *word-spacing:-1px;/* IE6、7 */}

