html{font-size:100px;}
body{min-width:320px;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
div,a,p,header,article,section{-webkit-box-sizing:border-box; /* Safari */-moz-box-sizing:border-box; /* Firefox */box-sizing:border-box;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;}
input,button,select,textarea,a{outline:none;}
textarea{resize:none;}

#gwcsize{width:0.23rem;height:0.23rem;display:none;position:absolute;top:-0.08rem;right:-0.03rem;background-color:red;color:#fff;border-radius:50%;-moz-border-radius: 50%;-webkit-border-radius:50%;text-align:center;font-size:0.20rem;line-height:0.23rem;}
html,body{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;}
a,img{-webkit-touch-callout:none;}
table{border-collapse:collapse;border-spacing:0;border:0;}
img{border:0;display:block;}
ol,ul{list-style:none;}
h1,h2,h3,h4{font-size:100%;}
i,em,strong{font-style:normal;font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
a{text-decoration:none;}
.clearfix:after{content:'';display:block;clear:both;height:0;}
.clearfix{zoom:1;}
.container{max-width:750px;min-width:320px;margin:auto;position:relative;}

/* 头部搜索 */
.head-seach-box,.head-seach-null{width:7.5rem;padding:.14rem 0;overflow:hidden;height:.88rem;background-color:#ffffff;}
.head-seach-box{display:block;}
.head-logo{float:left;width:.44rem;height:.56rem;background-image:url(../img/head-logo.png);margin-left:.2rem;background-size:.44rem .56rem;}
.head-seach-txt-box{float:left;width:5rem;height:.6rem;background:#EEF0F3 url(../../images/base/head-seach-icon.png) no-repeat .2rem center;border-radius:.1rem;border:0;margin-left:.32rem;font-size:.26rem;line-height:.6rem;padding-left:.6rem;background-size:.32rem;color:#9DA7B6;}
.head-car{float:left;width:.48rem;height:.48rem;background-image:url(../img/head-car.png);display:inline-block;margin:.1rem 0 0 .2rem;background-size:.48rem;}

/* 悬浮导航 */
.fixed-nav-box{width:7.5rem;height:.72rem;background-color:#ffffff;position:fixed;top:0;z-index:1;}
.fixed-nav-box a{width:1.8rem;height:.72rem;display:inline-block;color:#9DA7B6;font-size:.28rem;line-height:.72rem;padding-left:.86rem;}
.fixed-nav-01{background:url(../../images/page/index/nav01-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-02{background:url(../../images/page/index/nav02-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-03{background:url(../../images/page/index/nav03-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-04{background:url(../../images/page/index/nav04-icon.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed01-hover{color:#C92E36;background:url(../../images/page/index/nav01-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed02-hover{color:#C92E36;background:url(../../images/page/index/nav02-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed03-hover{color:#C92E36;background:url(../../images/page/index/nav03-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.fixed-nav-box .fixed04-hover{color:#C92E36;background:url(../../images/page/index/nav04-icon-hover.png) no-repeat .4rem center;background-size:.34rem;}
.head-nav-box .fixed-hover{color:#C92E36;}

/* 底部 */
.bottom-nav-null{width:7.5rem;height:1rem;border-top:.1rem solid #F5F7FA;}

/* 榜单 畅销榜 分类列表 搜索结果 */
.prize-list-item{width:7.1rem;overflow: hidden;margin:auto;border-bottom:solid 1px #DDDFE6;display:block;}
.prize-list-item img{width:1.36rem;height:1.96rem;margin-top:.24rem;float:left;}
.prize-list-right{margin:.32rem 0 0 .2rem;width:5.36rem;float:left;}
.prize-list-right-title{width:5.36rem;font-size:.32rem;color:#2E3D4C;}
.prize-list-author{color:#9DA7B6;font-size:.24rem;margin:.12rem 0;}
.prize-list-summary{color:#717B8B;font-size:.28rem;width:5.36rem;height:.8rem;overflow:hidden;margin-bottom: .3rem;}
.prize-more{height:1rem;color:#717B8B;display:block;font-size:.28rem;text-align:center;line-height:1rem;background:url(../../images/page/prize/more-icon.png) no-repeat 4.34rem center;background-size:.3rem;}
.prize-list-right-title i{float:right;width:.28rem;height:.4rem;margin-top:.03rem;}
.num-01{background-image:url(../../images/page/prize/num-01.png);background-size:.28rem .4rem;}
.num-02{background-image:url(../../images/page/prize/num-02.png);background-size:.28rem .4rem;}
.num-03{background-image:url(../../images/page/prize/num-03.png);background-size:.28rem .4rem;}
.prize-list-right-title span{font-size:.26rem;float:right;line-height:.48rem;color:#C92E36;}
.prize-list-right-title strong{text-decoration:line-through;color:#717B8B;margin-left:.1rem;}

/* 搜索页头部搜索 */
.head-null{height:.98rem;border-bottom:.1rem solid #F5F7FA;}
.head-seach-box{border-bottom:.1rem solid #F5F7FA;height:.98rem;}
.head-seach-txt-box{width:5.6rem;}
.cancel-btn{color:#2E3D4C;font-size:.28rem;line-height:.6rem;float:left;height:.6rem;margin-left:.2rem;}

/* 头部返回 */
.head-null{height:.88rem;border-bottom:.1rem solid #F5F7FA;}
.head-box{height:.88rem;position:fixed;top:0;width:7.5rem;background-color:#ffffff;border-bottom:.1rem solid #F5F7FA;}
.back-btn{position:absolute;width:.48rem;height:.48rem;background-image:url(../../images/page/selling/back-icon.png);background-size:.48rem;left:.3rem;top:.2rem;}
.tab-box{margin:auto;}
.tab-box a{color:#9DA7B6;font-size:.28rem;line-height:.88rem;display:inline-block;height:.8rem;position:relative;margin-right:1.4rem;}
.tab-box a:last-of-type{margin-right:0;}
.tab-box .tab-hover{color:#C92E36;}
.tab-hover i{width:.32rem;height:.06rem;background-color:#C92E36;display:inline-block;position:absolute;bottom:0;left:50%;margin-left:-.16rem;}