/* 头部搜索 */
.head-seach-null{height:.88rem;}
.head-seach-box{border-bottom: 0;height: .88rem;}
.head-seach-txt-box{width: 5.6rem;}
/* banner */
.banner-box{width:7.5rem;height:3.7rem;overflow:hidden;}
.banner-box img{width:100%;}
.wrap{overflow:hidden;position:relative;height:100%;}
.wrapitem{height:100%;float:left;position:relative;}

/* 头部导航 */
.head-nav-box{width:7.5rem;height:1.4rem;}
.head-nav-box a{width:1.8rem;height:1.4rem;display:inline-block;color:#2E3D4C;font-size:.28rem;text-align:center;line-height:1.95rem;}
.nav-01{background:url(../../images/page/index/nav01-icon-hover.png) no-repeat center .2rem;background-size:.48rem .48rem;}
.nav-02{background:url(../../images/page/index/nav02-icon-hover.png) no-repeat center .2rem;background-size:.48rem .48rem;}
.nav-03{background:url(../../images/page/index/nav03-icon-hover.png) no-repeat center .2rem;background-size:.48rem .48rem;}
.nav-04{background:url(../../images/page/index/nav04-icon-hover.png) no-repeat center .2rem;background-size:.48rem .48rem;}

/* 悬浮导航 */
.fixed-nav-box{-webkit-transform:translateY(-210%);transform:translateY(-210%);}

/* 重磅推荐 新书抢先看 最新特价 */
.list-box{width:7.5rem;height:5.2rem;border-top:.1rem solid #F5F7FA;}
.list-title-box{width:7.5rem;margin:.28rem 0 .16rem;overflow:hidden;}
.list-title-box i{float:left;width:.28rem;height:.28rem;margin:.07rem .08rem 0 .1rem;}
.list-class01-icon{background-image:url(../../images/page/index/class01-icon.png);background-size:.28rem;}
.list-class03-icon{background-image:url(../../images/page/index/class03-icon.png);background-size:.28rem;}
.list-class04-icon{background-image:url(../../images/page/index/class04-icon.png);background-size:.28rem;}
.list-title-box span{font-size:.28rem;color:#2E3D4C;float:left;}
.list-title-box a{float:right;background:url(../../images/page/index/more-icon.png) no-repeat center;width:.4rem;height:.4rem;background-size:.4rem;margin-right:.2rem;}
.list-scroll{width:7.4rem;overflow:auto;float:right;-webkit-overflow-scrolling:touch;}
.list-content{float:left;}
.list-item-box{float:left;margin-right:.2rem;width:1.92rem;}
.list-item-box img{width:100%;height:2.78rem;}
.list-item-title{color:#2E3D4C;font-size:.26rem;width:100%;float:left;margin:.06rem 0;}
.list-item-author{color:#9DA7B6;font-size:.24rem;width:100%;float:left;}

/* 大家都在看 免费专区 */
.list-class02-icon{background-image:url(../../images/page/index/class02-icon.png);background-size:.28rem;}
.list-class06-icon{background-image:url(../../images/page/index/class06-icon.png);background-size:.28rem;}
.h-auto{height:auto;}
.list-table{width:7.1rem;margin:auto;}
.list-table .list-item-box{width:1.7rem;margin:0 .1rem .24rem 0;}
.list-table .list-item-box:nth-child(4n){margin:0 0 .24rem 0;}

/* 广告位 */
.adv-box{width:7.5rem;border-top:.1rem solid #F5F7FA;padding:.2rem 0;}
.adv-box img{width:7.1rem;height:3.5rem;margin:auto;}

/* 分类图书 */
.list-class05-icon{background-image:url(../../images/page/index/class05-icon.png);background-size:.28rem;}
.type-box a{float:left;width:3.46rem;height:2rem;margin:0 .18rem .2rem 0;color:#ffffff;position:relative;}
.type-box a:nth-child(2n){margin:0 0 .2rem 0;}
.type-box a span{font-size:.44rem;position:absolute;left:2rem;top:.52rem;}
.type-box a strong{font-size:.24rem;position:absolute;left:2rem;top:1.2rem;}
.type01-icon{background-image:url(../../images/base/type01-icon.png);background-size:3.46rem 2rem;}
.type02-icon{background-image:url(../../images/base/type02-icon.png);background-size:3.46rem 2rem;}
.type03-icon{background-image:url(../../images/base/type03-icon.png);background-size:3.46rem 2rem;}
.type04-icon{background-image:url(../../images/base/type04-icon.png);background-size:3.46rem 2rem;}

/*购物车角标*/
.shop_num_a{position:relative;}
.ship_num_b{}
